<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head menos title -->
    <%- include('../partials/head') %>
    <title>Herramientas de Administrador</title>
</head>
<body>
    <%- include('../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <h1 class="login-text">Bienvenido Administrador</h1>
    <h3 class="">¿Qué desea hacer?</h3>
    
    <!-- aca arranca el footer -->
    <%- include('../partials/footer') %>
</body>
</html>