<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantaSusi</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> <!-- incluimos css -->
    <script src="https://kit.fontawesome.com/38e8c58940.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <!--
            main nav dentro del header
        -->
        <nav class="main-nav">
            <!-- burguer menu para mobile -->
            <div class="burger-menu">
                <label for="nav-troggler"><i class="icon" id="burger"></i></label>
                <input type="checkbox" id="nav-troggler" class="nav-toggler">
            </div>

            <!-- menu de navegacion, solo desktop -->
            <nav class="section-menu">
                <ul>
                    <li><a class="nav-item" href='shop'>Tienda</a></li>
                    <li><a class="nav-item" href='shop'>Ofertas</a></li>
                    <li><a class="nav-item" href='care'>Cuidados</a></li>
                    <li><a class="nav-item" href='about'>Sobre Nosotros</a></li>
                </ul>
            </nav>
            <!-- Logo, tiene que ser el link a home-->
            <div class="logo">
                <a href="home"><img id='logo-principal' src="img/Logo-2.svg" alt="logo del E-commmerce"></a>
            </div>
            <!-- iconos de navegacion -->
            <ul class="icon-menu">
                <li><a href='shop'><i class="icon" id="search"></i></a></li>
                <li><a href='login'><i class="icon" id="user"></i></a></li>
                <li><a href='productCart'><i class="icon" id="cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <!-- 

        Aca va el cuerpo la pagina 

    -->
    <main>
        <!-- seccion de destacados -->
        <section class="banner">
        
            <article class="banner-article1">
                <a class="banner-article1__link" href="#">
                    <div class="banner-article1__img">
                        <img src="img\portadas\otoño.jpg" alt="portada de seleccion otoño">
                    </div>
                    <div class="banner-article1__footer">
                        <p class="banner__sub-title">20% OFF en nuestras plantas de interior</p>
                        <h4>Mira nuestra seleccion de plantas!</h4>
                        <button class="boton-login boton-login">Comprar ahora</button>
                    </div>
                </a>
            </article>

            <article class="banner-article2">
                <a href="#">
                    <div class="img">
                        <img src="img\portadas\gomero.jpg" alt="portada de seleccion otoño">
                    </div>
                    <p class="banner__sub-title">20% OFF</p>
                    <h4>Gomero veteado</h4>
                </a>
            </article>

            <article class="banner-article3">
                <a href="#">
                    <div class="img">
                        <img src="img\portadas\herramientas.png" alt="portada de seleccion otoño">
                    </div>
                    <p class="banner__sub-title">30% OFF</p>
                    <h4>Herramientas</h4>
                </a>
            </article>

        </section>
        <!-- seccion mas vendidos -->
        <h2>Mas vendidos</h2>
        <section class="flex-row mas-vendidos">
            
            <article class="plant-Card">
                <div class="img">
                    <img src="img\plantas\Aglaonema.png" alt="portada de seleccion otoño">
                </div>
                <H5></H5>
                <h4>Aglaonema africana</h4>
                <button class="Button-Agregar-Carrito">Agregar al Carrito</button>
            </article>

            <article class="plant-Card">
                <div class="img">
                    <img src="img\plantas\potus1.png" alt="portada de seleccion otoño">
                </div>
                <H5></H5>
                <h4>Potus verde</h4>
                <button class="Button-Agregar-Carrito">Agregar al Carrito</button>
            </article>

        </section>







    </main>

    <!-- 
        
        
        aca arranca el footer 
    
    
    -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-main">
                <nav class="footer-nav">
                    <h3 class="footer-title">Info</h3>
                    <ul>
                        <li><a class="footer-link" href='shop'>Tienda</a></li>
                        <li><a class="footer-link" href='shop'>Ofertas</a></li>
                        <li><a class="footer-link" href='care'>Cuidados</a></li>
                        <li><a class="footer-link" href='about'>Sobre Nosotros</a></li>
                    </ul>
                </nav>
                <nav class="footer-col">
                    <div class="footer-contacto">
                        <h3 class="footer-title">Contacto</h3>
                        <ul>
                            <li><i class="icon" id="whatsapp"></i>+54 15 5884 1543</li>
                            <li>plantasusi@susi.com.ar</li>
                            <li>Calle falsa 123</li>
                        </ul>
                    </div>
                    <div class="footer-seguinos">
                        <h3 class="footer-title">Seguinos</h3>
                        <div class="social-icons">
                            <a href="http://pinterest.com"><i class="icon-social" id="pinterest"></i></a>
                            <a href="http://facebook.com"></a><i class="icon-social" id="facebook"></i></a>
                            <a href="http://instagram.com"></a><i class="icon-social" id="instagram"></i></a>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- info legal -->
            <div>
                <ul class="legal-info">
                    <li>© 2021 Plantasusi SA</li>
                    <li>Términos de uso</li>
                    <li>Póliticas de privacidad</li>
                </ul>
            </div>
        </div>
   </footer>
</body>
</html>