<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Detalle del producto</title>
    </head>
<body>
    <%- include('../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main>

        <section class="flex-column">

            <div class="prod-detail">
                <figure class="prod-detail__slide">
                    <img src="/img/plantas/Gomero1.jpg" alt="gomero">
                    <a href="#" class="prod-detail__prev">&#10094;</a>
                    <a href="#" class="prod-detail__next">&#10095;</a>
                </figure>
                <h2>Gomero Variegata</h2>
                <div class="flex-row">
                    <p class="prod-detail__price">$ 4800 <span>$ 4500</span></p>
                    <button class="prod-detail__button">Comprar</button>
                </div>
            </div>

            <div class="prod-desc">
                <p> <span>Descripción:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at libero augue. Nam in consectetur massa. Aenean ut purus sit amet felis pharetra </p>
                <p> <span>Nivel de cuidados:</span> Requiere un poco de atencion</p>
                <p> <span>ideal para:</span> interior</p>
            </div>
            <div class="flex-row">
                <div class="counter">
                    <span class="counter__minus">-</span>
                    <input class="counter__input" type="text" value="1"/>
                    <span class="counter__plus">+</span>
                </div>
                <!-- <div>
                    <input class="counter__input" type="number" value="1" min="1" max="10">
                </div> -->
                <button class="prod-detail__button--carrito">Agrega al carrito</button>
            </div>
        </section>

                <!-- seccion mas vendidos -->
                <h2 class="center-text">Mas vendidos</h2>
                <section class="flex-row mas-vendidos">
                    
                    <article class="plant-Card">
                        <a href="/products/productDetail">
                            <div class="img plant-Card__img">
                                <img src="/img\plantas\Aglaonema.png" alt="portada de seleccion otoño">
                                <div class="plant-Card__background"></div>
                            </div>
                            <h4>Aglaonema africana</h4>
                            <p class="subtitle">$2500</p>
                        </a>
                        <!-- <button class="Button-Agregar-Carrito">Agregar al Carrito</button> -->
                    </article>
        
                    <article class="plant-Card">
                        <a href="/products/productDetail">
                            <div class="img plant-Card__img">
                                <img src="/img\plantas\potus1.png" alt="portada de seleccion otoño">
                                <div class="plant-Card__background"></div>
                            </div>
                            <h4>Potus verde</h4>
                            <p>$2300</p>
                        </a>
                        <!-- <button class="Button-Agregar-Carrito">Agregar al Carrito</button> -->
                    </article>
        
                    <article class="plant-Card plant-Card--desktop">
                        <div class="img plant-Card__img">
                            <img src="/img\plantas\potus1.png" alt="portada de seleccion otoño">
                            <div class="plant-Card__background"></div>
                        </div>
                        <h4>Potus verde</h4>
                        <p>$2300</p>
                        <!-- <button class="Button-Agregar-Carrito">Agregar al Carrito</button> -->
                    </article>
        
                    <article class="plant-Card plant-Card--desktop">
                        <div class="img plant-Card__img">
                            <img src="/img\plantas\potus1.png" alt="portada de seleccion otoño">
                            <div class="plant-Card__background"></div>
                        </div>
                        <h4>Potus verde</h4>
                        <p>$2300</p>
                        <!-- <button class="Button-Agregar-Carrito">Agregar al Carrito</button> -->
                    </article>
        
                </section>
    </main>




    <!-- aca arranca el footer -->
    <%- include('../partials/footer') %>
    
</body>
</html>