<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
<body>
    <header>
        <!--
            main nav dentro del header
        -->
        <nav class="main-nav">
            <!-- burguer menu para mobile -->
            <div class="burger-menu">
                <label for="nav-troggler"><i class="icon" id="burger"></i></label>
                <input type="checkbox" id="nav-troggler" class="nav-toggler">
                <div class="burger-menu__shadow">
                    <nav class="burger-menu__links">
                        <ul>
                            <li><a class="nav-item no-list-style" href='home'>Tienda</a></li>
                            <li><a class="nav-item no-list-style" href='home'>Ofertas</a></li>
                            <li><a class="nav-item no-list-style" href='productDetail'>Cuidados</a></li>
                            <li><a class="nav-item no-list-style" href='home'>Sobre Nosotros</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- menu de navegacion, solo desktop -->
            <nav class="section-menu">
                <ul class="section-menu__list">
                    <li><a class="nav-item no-list-style" href='home'>Tienda</a></li>
                    <li><a class="nav-item no-list-style" href='home'>Ofertas</a></li>
                    <li><a class="nav-item no-list-style" href='productDetail'>Cuidados</a></li>
                    <li><a class="nav-item no-list-style" href='home'>Sobre Nosotros</a></li>
                </ul>
            </nav>
            <!-- Logo, tiene que ser el link a home-->
            <div class="logo">
                <a href="home"><img id='logo-principal' src="img/Logo-2.svg" alt="logo del E-commmerce"></a>
            </div>
            <!-- iconos de navegacion -->
            <ul class="icon-menu">
                <li><a href='shop'><i class="icon" id="search"></i></a></li>
                <li><a href='login'><i class="icon" id="user"></i></a></li>
                <li><a href='Cart'><i class="icon" id="cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <!-- Aca va el cuerpo la pagina -->
    <main>


    </main>




    <!-- aca arranca el footer -->
    <%- include('./partials/footer') %>
</body>
</html>