/* aca podemos guardar variables que se reutilcen en el css */
:root{
    --primary-green: #014934;
    --secondary-light-green: rgb(230, 240, 231);
    --third-light-green: #b2e2ba;
    --fuentePrimaria: 'Poppins'
}
/* importa fuentes poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/* reglas generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: "poppins", sans-serif;
    height: 100%;
}

/*            HEADER             */
header {
    position: fixed;
    background-color: white;
    left: 0px;
    top: 0px;
    width: 100%;
    border-bottom: solid var(--primary-green) 2px;
    list-style: none;
}
/* nav adentro del header (asi podemos darle un margen en resoluciones mas grandes)  */
.main-nav {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}
/* le agregegue padding al burguer menu para que ocupe lo mismo que
los 3 iconos de la derecha y quede todo centrado */
.burger-menu {
    padding: 0 2rem;
}
.nav-toggler {
    display:none;
}
/* Menu navegacion oculto para mobile */
.section-menu {
    display: none;
}
main {
    width: 90%;
    margin: auto;
    /* background-color: antiquewhite; */
}

.icon-menu li {
    display: inline;
    margin: 0.25rem;
}

.icon {
    display: inline-block;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    background-size: 1.2rem 1.2rem;
}


/*       FOOTER        */

footer {
    width: 100%;
    font-weight: bold;
    background-color: var(--primary-green);
    color: var(--secondary-light-green);
    font-size: 0.9rem;
    list-style: none;
}
article {
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgba(148, 241, 151, 0.22);
}

/* clase icon para agregarle a los iconos locales  */
.icon-social {
    display: inline-block;
    cursor: pointer;
    background-size: 1.6rem 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
}

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}



div.img img {
    width: 100%;
}

/*una seccion nav adentro del header 
 asi podemos darle un margen en resoluciones mas grandes  */
.main-nav {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}
/* le agregegue padding al burguer menu para que ocupe lo mismo que
los 3 iconos de la derecha y quede todo centrado */
.burger-menu {
    padding: 0 2rem;
}
.nav-toggler {
    display:none;
}

.icon-menu li {
    display: inline-table;
    margin: 0.2rem;
}
.section-menu {
    display: none;
}
/*          MAIN          */



/* clase icon para agregarle a los iconos locales  */
.icon {
    display: inline-block;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    background-size: 1.2rem 1.2rem;
    fill: var(--primary-green);
}
.icon-social {
    display: inline-block;
    cursor: pointer;
    background-size: 1.6rem 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
}
.no-list-style {
list-style: none;
}
/* no se porque tengo que especificar esto para que los links no aparezcan azules */
.footer-link {
    color: var(--secondary-light-green);
    line-height: 1.8rem;
}
/* saca el punteado de los datos de contacto*/
.footer-contacto ul li {
    font-weight: normal;
    font-size: 0.8rem;
}
/* especifica tamaño de los titulos del footer */
.footer-title {
    font-size: 1.4rem;
    padding-bottom: 0.7rem;
}
/* display flex en linea para el footer */
.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1rem;
}
.footer-seguinos {
    margin-top: 1rem;
}

.social-icons i{
    margin:  0 1.5rem 0 0;
}

.legal-info {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    font-weight: normal;
    font-size: 0.5rem;
}

/* Comencé a probar la parte de desktop */
@media (min-width: 769px) {
    /* desaparece burguer menu y aparecen los links de navegacion */
    .burger-menu {
        display: none;
    }
    .section-menu{
        display:table;
    }
    /* logo a la izquierda con flexbox */
    .logo{
        order: -1;
    }
    .main-nav{
        max-width: 1300px;
        margin: 0 auto;
    }
    
    .section-menu ul li{
        display: inline;
        padding: auto;
    }
    
    .nav-item{
        font-family: 'Poppins';
        font-weight: bold;
        color: #014934;
    }
}

/* Lista de ids para iconos locales */
#logo-principal {
    max-width: 8rem;
}
#search {
    background-image: url(../img/icons/icon-search.svg);
}
#user {
    background-image: url(../img/icons/icon-user.svg);
}
#cart {
    background-image: url(../img/icons/icon-cart.svg);
}
#burger {
    background-image: url(../img/icons/icon-hamburger.svg);
}
#pinterest {
    background-image: url(../img/icons/icon-pinterest3.svg);

}
#facebook {
    background-image: url(../img/icons/icon-fb3.svg);
}
#instagram {
    background-image: url(../img/icons/icon-instagram3.svg);
}
#whatsapp {
    background-image: url(../img/icons/icon-whatsapp.svg);
}


/* Sección de pagina del login */

/* version mobile */

/* Texto principal */
.login-text{
    /* font-family: var(--fuentePrimaria); */
    /* color: #014934; */
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
/* Pregunta de la creacion de cuenta */
.have-account{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    color: #014934;
}
/* decoracion de los link */
.mk-account-link{
    text-decoration-line: underline;
    font-weight: 700;
    color: #014934;
}

/* Formulario de login */
.form-login{
    padding: 10px 20px;
    margin-top: 10px;
}
/* Color del texto de label */
.form-login label{
    color: var(--primary-green);
}
/* div con cada label e input */
.inside-form-login{
    margin-bottom: 20px;
}
/* solo los label de cada div */
.inside-form-login label{
    display: block;
    margin: 6px 0px;
}
/* los cuadros de dialogo para ingresar datos */
.login-control{
    width: 100%;
    padding: 9px;
    border: #014934 solid 1px;
}
/* Boton de login */
.boton-login{
    background-color: #014934;
    color: white;
    width: 100%;
    border-radius: 20px;
    font-weight: 700;
    padding: 3px;
    border: 0;
    transition: all 0.5s;
}
.boton-login:hover {
    background-color:darkorange;
}

.mas-vendidos article {
    position: relative;
}

.Button-Agregar-Carrito {
    position: absolute;
    bottom: 15px;
    background-color: #014934;
    color: white;
    width: 80%;
    border-radius: 20px;
    font-weight: 700;
    padding: 3px;
    border: 0;
    transition: all 0.5s;
}

/* link de "olvidaste tu password" */
.password-forgotten{
    margin-bottom: 15px;
}
.password-forgotten-link{
    padding: 20px;
    text-decoration-line: underline;
    font-weight: 700;
    color: #014934;
}
/* Color de los placeholder de los cuadros de dialogo */
::placeholder{
    color: var(--third-light-green);
}