
/*================
  1*0  table content 
=================*/
/*

    1-1 GLOBAL

    1-2 FONTS

    1-3 LAYOUT
        1-3.a HEADER
        1-3.b FOOTER
        1-3.c HOME
        1-3.d login
        1-3.e password recovery
        1-3.f Product Detail

        1-4 LIBRERY
    1-5 Components

    1-6 MEDIA QUERIES
    

*/
/*==============
  1-1  GLOBAL 
=================*/

/* importa fuentes poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/*  VARIABLES */
 :root{
    --primary-green: rgba(1, 73, 52, 1);
    --primary-green-soft:rgba(1, 73, 52, .8);
    --secondary-light-green: rgba(230, 240, 231,1);
    --third-light-green: rgba(178, 226, 186, 1);
    --third-light-green-soft: rgba(178, 226, 186, 0.6);
    --fuentePrimaria: 'Poppins'
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: "poppins", sans-serif;
}

main {
    margin: 6rem  auto;
    max-width: 90%;
    color: var(--primary-green);
    min-height: 50vh;
}

img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover */
} 


/* clase icon para agregarle a los iconos locales  */
.icon {
    display: inline-block;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    background-size: 1.2rem 1.2rem;
    fill: var(--primary-green);
}

article {
    margin-bottom: 10px;
}

/* =========
1.2 Fonts 
===========*/

.footer__title {
    font-size: 1.4rem;
    padding-bottom: 0.7rem;
    margin-top: 1rem;
}

.footer__link {
    color: var(--secondary-light-green);
    line-height: 1.8rem;
    font-weight: normal;
}

.footer__contacto {
    font-weight: normal;
    font-size: 0.8rem;
}

.banner a{
    color: #014934;
}



/* =========
   1.3 LAYOUT 
    =======*/


/* 1-3.a HEADER */
header {
    position: fixed;
    background-color: white;
    left: 0px;
    top: 0px;
    width: 100%;
    border-bottom: solid var(--primary-green) 2px;
    z-index: 9;
}
.header {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    max-width: 75rem;
}

.header__logo{
    max-width: 8rem;
}

/* Burger menu */
.burger-menu {
    padding: 0 2rem;
}
.burger-menu__nav-toggler {
    display:none;
}
.burger-menu__nav-toggler:checked ~ div {
    position: absolute;
    display: block;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--third-light-green-soft);
}
.burger-menu__shadow {
    display: none;
}

.burger-menu__shadow a{
    color: #ffffff;
}
.burger-menu__shadow li{
    text-align: center;
    list-style: none;
    padding: 1rem 0;
}
/* links ocultos en mobile */
.section-menu {
    display: none;
}

.icon-menu li {
    display: inline-table;
    margin: 0.2rem;
}

/*  1-3.b     FOOTER        */


.footer {
    position: relative;
    width: 100%;
    font-weight: bold;
    background-color: var(--primary-green);
    color: var(--secondary-light-green);
    font-size: 0.9rem;
}


/* display flex en linea para el footer */
.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.footer__legal-info {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    font-weight: normal;
    font-size: 0.5rem;
}




/*   1-3.c    HOME           */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.banner article {
    padding: 1rem 0px 1rem 0;
    border-bottom: 1px solid;
}

/* .banner-article1__img{
    height: clamp(50vh , 50vh, 80vh );
} */
.banner-article1__img img{
    object-fit: cover;
    height: 100%;
}

.banner-article1__footer{
    display: flex;
    flex-direction: column;
}
.banner-article1__footer h4 {
    font-size: 1.1rem;
    padding-bottom: .5rem;
}
.banner__sub-title{
    letter-spacing: -.01rem;
    font-size: 0.85rem;
    margin: 0.2rem 0 .5rem;
}

/*        1-3.d login        */


/* Texto principal */
.login-text{
    /* font-family: var(--fuentePrimaria); */
    /* color: #014934; */
    font-weight: 700;
    text-align: center;
    margin-top: 90px;
}
/* Pregunta de la creacion de cuenta */
.have-account{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    color: #014934;
}
/* decoracion de los link */
.mk-account-link{
    text-decoration-line: underline;
    font-weight: 700;
    color: #014934;
}

/* Formulario de login */
.form-login{
    padding: 10px 20px;
    margin-top: 10px;
}
/* Color del texto de label */
.form-login label{
    color: var(--primary-green);
}
/* div con cada label e input */
.inside-form-login{
    margin-bottom: 20px;
}
/* solo los label de cada div */
.inside-form-login label{
    display: block;
    margin: 6px 0px;
}
/* los cuadros de dialogo para ingresar datos */
.login-control{
    width: 100%;
    padding: 9px;
    border: #014934 solid 1px;
}

.Pass-recovery {
    display: flex;
    flex-direction: column;
}
/* Boton de login */
.boton-login{
    background-color: #014934;
    color: white;
    width: 100%;
    border-radius: 20px;
    font-weight: 700;
    padding: 3px;
    border: 0;
    transition: all 0.5s;
}
.boton-login:hover {
    background-color:darkorange;
}


/*   1-3.d password recovery */

/* link de "olvidaste tu password" */
.password-forgotten{
    margin-bottom: 15px;
}
.password-forgotten-link{
    padding: 20px;
    text-decoration-line: underline;
    font-weight: 700;
    color: #014934;
}
/* Color de los placeholder de los cuadros de dialogo */
::placeholder{
    color: var(--third-light-green);
}

/*   1-3.e register */

/*   1-3.f Cart */

/* Carrito de compras */

.title-cart{
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
    border: black solid 1px;
    padding: 15px;
    font-size: x-large;
    font-weight: bold;
    background-color: var(--primary-green);
    color: white;
}
.title-cart p{
    margin: auto 0;
    font-size: medium;
    font-weight: normal;
}
.article-cart{
    margin: 10px 0;
    max-height: 80px;
    display: flex;
}
div .img-cart{
    max-width: 25%;
}
.img-cart img{
    width: 100%;
    height: 100%;
    border: rgb(173, 173, 173) solid 1px;
    object-fit: cover;
}
.article-cart-description{
    width: 100%;
    text-align: right;
}
.item-name-cart{
    color: gray;
    text-align: center;
    height: 30px;
    font-size: large;
}
.price-cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    height: 50px;
    color: var(--primary-green);
}
.price-cart i{
    color: black;
}
.input-cart-qnty{
    width: 30%;   
    text-align: center;
}
.trash-button{
    border: none;
    background-color: white;
}


/* ================
       1-3.f ProductDetail 
==================*/

.prod-detail {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.prod-detail__slide {
    display: flex;
    position: relative;
}

.prod-detail__slide img {
    object-fit: cover;
    width: 100%;
}

.prod-detail__prev, .prod-detail__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2rem;
    padding: 16px;
    color: var(--primary-green);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

  }
.prod-detail__prev  {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prod-detail__next {
    right: 0;
    border-radius: 0 3px 3px 0;
}
.prod-detail__prev:hover, .prod-detail__next:hover {
    background-color: var(--primary-green-soft);
}

.prod-detail h2 {
    margin-top: 1rem;
    font-weight: normal;
}

.prod-detail__price {  
    align-self: center;
}

.prod-detail__price span {
    text-decoration: line-through;
    font-weight: normal;
    color: var(--primary-green-soft);
    margin-left: 1rem;
}

.prod-detail__button {
    margin-left: auto;
    background-color: #014934;
    color: white;
    font-weight: normal;
    padding: .3rem 3rem;
    transition: all 0.5s;
}

.prod-desc p {
    margin: 2rem 0;

}

.prod-desc p span{
    font-weight: 600;
}

.counter {
    display: flex;
}

.counter__input {
    height:2.2rem;
    width: 3rem;
    text-align: center;
    font-size: 1.3rem;
    border:2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    outline: none;
}

.counter__minus, .counter__plus{
    cursor:pointer;
    height:2.2rem;
    width: 2rem;
    border:2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}

.prod-detail__button--carrito {
    margin-left: auto;
    background-color: var(--third-light-green);
    color: var(--primary-green);
    font-weight: normal;
    padding: .3rem 2rem;
    transition: all 0.5s;
    border: 0px;
}
.prod-detail__button--carrito:hover {
    margin-left: auto;
    background-color: var(--third-light-green);
    color: var(--primary-green);
    font-weight: bold;
    padding: .3rem 2.7rem;
    border: 0px;
}


/*==========
   1-4 LIBRERY
===========*/
.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.no-list-style {
    list-style: none;
}

.center-text {
    text-align: center;
}

/* =============
  1-5  Componentes
 =============== */
.icon {
    display: inline-block;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    background-size: 1.2rem 1.2rem;
}

/* iconos de redes sociales - footer  */
.icon--footer {
    background-size: 1.6rem 1.6rem;
    margin:  0 1.5rem 0 0;
    width: 1.6rem;
    height: 1.6rem;
}

.plant-Card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
}

.plant-Card__img {
    position: relative;
}
.plant-Card__background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: var(--third-light-green-soft);
    z-index: -1;
    border-radius: 70% 0 70% 0;
}

.plant-Card a {
    color: #014934;
}
.plant-Card p {
    font-size: 0.8rem;
    margin: 0.2rem 0;
    border-bottom: 1px solid var(--primary-green);
}

.plant-Card h4 {
    font-size: 0.8rem;
    margin: .3rem 0;
}

.plant-Card--desktop {
    display: none;
}

.Button-Agregar-Carrito {
    background-color: var(--primary-green);
    border: 0;
    color: white;
    font-size: 0.7rem;
    padding: 0.3rem 1rem;
    transition: all 0.5s;
    margin: .3rem 0;
}

/* ICONOS LOCALES  */

#search {
    background-image: url(../img/icons/icon-search.svg);
}
#user {
    background-image: url(../img/icons/icon-user.svg);
}
#cart {
    background-image: url(../img/icons/icon-cart.svg);
}
#burger {
    background-image: url(../img/icons/icon-hamburger.svg);
}
#pinterest {
    background-image: url(../img/icons/icon-pinterest3.svg);

}
#facebook {
    background-image: url(../img/icons/icon-fb3.svg);
}
#instagram {
    background-image: url(../img/icons/icon-instagram3.svg);
}
#whatsapp {
    background-image: url(../img/icons/icon-whatsapp.svg);
}





/*=================
    1-6 MEDIA QUERIES
================= */

@media (min-width: 769px) {
    /* desaparece burguer menu y aparecen los links de navegacion */
    .burger-menu {
        display: none;
    }
    .section-menu{
        display:flex;
    }
    .section-menu__list{
        display: flex;
    }

    .section-menu li{
        list-style: none;
        padding: 1rem 1.5rem;
    }

    /* logo a la izquierda con flexbox */
    .header__logo{
        order: -1;
        max-width: 10rem;
    }
    .header{
        max-width: 1300px;
        margin: 0 auto;
    }
    
    .nav-item{
        font-family: 'Poppins';
        font-weight: bold;
        color: #014934;
    }
    .banner {
        flex-direction: row;
    }
    .banner article a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 20px;
        flex: 1 1 100%;
        height: 400px;
    }
    .banner__img {
        height: 300px;
    }
    .banner__img img{
        object-fit: cover;
        height: 100%;
    }
    
    .plant-Card--desktop {
        display: block;
    }
}