<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Head -->
    <%- include('../partials/head') %>
</head>

<body>

    <!-- Header -->
    <%- include('../partials/header') %>
        
        <!-- Main -->
        <main>
            <div class="shop">
                <section class="shop__header">

                    <h1 class="heading-primary">Nuestras Plantas</h1>

                    <!-- <div class="flex-row space-around">
                        <form action="">
                            <button class="shop__btn" for="filters">Filtrar</button>
                        </form> -->
                        <!--                   
                    <div class="menu-shadow">
                        <div class="shop__filter">
                            <ul>
                                <li class="no-list-style">Categoría</li>
                                <li class="no-list-style">Tamaño</li>
                                <li class="no-list-style">Por iluminación</li>
                                <li class="no-list-style">Por Humedad</li>
                                <li class="no-list-style">nivel de Ciudados</li>
                                <li class="no-list-style">pet friendly</li>
                            </ul>
                        </div>
                    </div>
                     -->

                        <form action="/orderBy/" method="get" class="order-by__form">
                            <select name="orderBy" id="orderBy" class="order-by__input" onchange='this.form.submit();' >
                                <option hidden selected>Ordenar por</option>
                                <option value="nameAsc">Orden A-Z</option>
                                <option value="nameDesc">Orden Z-A</option>
                                <option value="priceDesc">Mayor Precio</option>
                                <option value="priceAsc">Menor Precio</option>
                            </select>
                        </form>

                        <!--                     
                    <div class="shop__sort">
                        <ul>
                            <li class="no-list-style">Precio</li>
                            <li class="no-list-style">Nombre</li>
                            <li class="no-list-style">En oferta</li>
                        </ul>
                    </div>
                </div> -->

                </section>
                <section class="shop-wrapper">
                    <% products.forEach(prod=> { %>
                        <%- include('../partials/PlantCard.ejs', { data : prod }) %>
                            <% }); %>
                </section>
            </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include('../partials/footer') %>
        <script src="/js/shop.js"></script>
</body>
</html>
