    <section class="max-width flex-row">

        <!-- hay que armarlo desde controller -->
        <article class="plant-Card">
            <a class="link--primarycolor" href="/products/productDetail">
                <div class="img plant-Card__img">
                    <img src="/img/plantas/Aglaonema.png" alt="portada de seleccion oto単o">
                    <div class="plant-Card__background"></div>
                </div>
                <h4>Aglaonema africana</h4>
                <p class="subtitle">$2500</p>
            </a>
            <button class="btn btn--plant">Agregar al Carrito</button>
        </article>

        <article class="plant-Card">
            <a class="link--primarycolor" href="/products/productDetail">
                <div class="img plant-Card__img">
                    <img src="/img/plantas/potus1.png" alt="portada de seleccion oto単o">
                    <div class="plant-Card__background"></div>
                </div>
                <h4>Potus verde</h4>
                <p>$2300</p>
            </a>
            <button class="btn btn--plant">Agregar al Carrito</button>
        </article>

        <article class="plant-Card plant-Card--desktop">
            <a class="link--primarycolor" href="/products/productDetail">
                <div class="img plant-Card__img">
                    <img src="/img/plantas/Aglaonema.png" alt="portada de seleccion oto単o">
                    <div class="plant-Card__background"></div>
                </div>
                <h4>Aglaonema africana</h4>
                <p class="subtitle">$2500</p>
            </a>
            <button class="btn btn--plant">Agregar al Carrito</button>
        </article>

        <article class="plant-Card plant-Card--desktop">
            <a class="link--primarycolor" href="/products/productDetail">
                <div class="img plant-Card__img">
                    <img src="/img/plantas/potus1.png" alt="portada de seleccion oto単o">
                    <div class="plant-Card__background"></div>
                </div>
                <h4>Potus verde</h4>
                <p>$2300</p>
            </a>
            <button class="btn btn--plant">Agregar al Carrito</button>
        </article>

    </section>