<footer class="footer">
        <div class="footer__nav">
            <nav>
                <h3 class="footer__title">Info</h3>
                <ul>
                    <li class="no-list-style"><a class="footer__link" href='/products/shop'>Tienda</a></li>
                    <li class="no-list-style"><a class="footer__link" href='/products/shop'>Ofertas</a></li>
                    <li class="no-list-style"><a class="footer__link" href='/products/detail/1'>Cuidados</a></li>
                    <li class="no-list-style"><a class="footer__link" href='/about'>Sobre Nosotros</a></li>
                    <li class="no-list-style"><a class="footer__link" href='/products'>Admin Menu</a></li>
                </ul>
            </nav>
            <nav>
                <div class="footer__contacto">
                    <h3 class="footer__title">Contacto</h3>
                    <ul>
                        <li class="no-list-style"><i class="icon" id="whatsapp"></i>+54 15 5884 1543</li>
                        <li class="no-list-style">plantasusi@susi.com.ar</li>
                        <li class="no-list-style">Calle falsa 123</li>
                    </ul>
                </div>
                <div>
                    <h3 class="footer__title">Seguinos</h3>
                    <div>
                        <a href="http://pinterest.com"><i class="icon icon--footer" id="pinterest"></i></a>
                        <a href="http://facebook.com"></a><i class="icon icon--footer" id="facebook"></i></a>
                        <a href="http://instagram.com"></a><i class="icon icon--footer" id="instagram"></i></a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- info legal -->
        <div>
            <ul class="footer__legal-info">
                <li class="no-list-style">© 2021 Plantasusi SA</li>
                <li class="no-list-style">Términos de uso</li>
                <li class="no-list-style">Póliticas de privacidad</li>
            </ul>
        </div>
</footer>