<header>
    <nav class="header">
        <!-- burguer menu para mobile -->
        <div class="burger-menu">
            <label for="nav-troggler"><i class="icon" id="burger"></i></label>
            <input type="checkbox" id="nav-troggler" class="burger-menu__nav-toggler">
            <div class="burger-menu__shadow">
                <nav class="burger-menu__links">
                    <ul>
                        <li><a class="nav-item no-list-style" href='home'>Tienda</a></li>
                        <li><a class="nav-item no-list-style" href='home'>Ofertas</a></li>
                        <li><a class="nav-item no-list-style" href='/products/productDetail'>Cuidados</a></li>
                        <li><a class="nav-item no-list-style" href='home'>Sobre Nosotros</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- menu de navegacion, solo desktop -->
        <nav class="section-menu">
            <ul class="section-menu__list">
                <li><a class="nav-item no-list-style" href='home'>Tienda</a></li>
                <li><a class="nav-item no-list-style" href='home'>Ofertas</a></li>
                <li><a class="nav-item no-list-style" href='/products/productDetail'>Cuidados</a></li>
                <li><a class="nav-item no-list-style" href='home'>Sobre Nosotros</a></li>
            </ul>
        </nav>
        <!-- Logo, tiene que ser el link a home-->
        <div class="header__logo">
            <a href="/"><img src="/img/Logo-2.svg" alt="logo del E-commmerce"></a>
        </div>
        <!-- iconos de navegacion -->
        <ul class="icon-menu">
            <li class="no-list-style "><a href='shop'><i class="icon" id="search"></i></a></li>
            <li class="no-list-style"><a href='/users/login'><i class="icon" id="user"></i></a></li>
            <li class="no-list-style"><a href='Cart'><i class="icon" id="cart"></i></a></li>
        </ul>
    </nav>
</header>