<ul class="admin__nav">
    <li class="no-list-style"><a href="/products/" class="admin-sidebar__link">Listar</a></li>
    <li class="no-list-style"><a href="/products/create" class="admin-sidebar__link">Agregar</a></li>
    <li class="no-list-style"><a href="/products/editProducts" class="admin-sidebar__link">Editar</a></li>
</ul>