<!-- Sidebar -->
<div class="admin__sidebar">
    <a href="#" class="admin__links">
        <i class="fa-solid fa-users-gear"></i>
        <span class="admin__span">Usuarios</span>
    </a>
    <a href="#" class="admin__links">
        <i class="fa-solid fa-box-archive"></i>
        <span class="admin__span">Productos</span>
    </a>
    <a href="#" class="admin__links">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="admin__span">Estadisticas</span>
    </a>
</div>