<!-- Sidebar -->
<div class="sidebar-admin">
    <a href="#" class="sidebar-items-admin"><i class="fa-solid fa-users-gear"></i><span>Usuarios</span></a>
    <a href="#" class="sidebar-items-admin"><i class="fa-solid fa-box-archive"></i><span>Productos</span></a>
    <a href="#" class="sidebar-items-admin"><i class="fa-solid fa-chart-simple"></i><span>Estadisticas</span></a>
</div>