/*==================
    Table Content
====================*/
/*
    1.1 - Global
    1.2 - Fonts
    1.3 - Layout
        1.3.A - Header
        1.3.B - Footer
        1.3.C - Home
        1.3.D - Login/Register
        1.3.E - Password Recovery
        1.3.F - Cart
        1.3.G - Shop 
        1.3.H - Product Detail
        1.3.I - Administrator
        1.3.J - Error Page
        1.3.K - User Menu
        1.3.L - About     
    1.4 - Librery
    1.5 - Components
    1.6 - Media Queries

*/
/*=================
    1.1 - Global 
===================*/

/* Font Family (Poppins) */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

/*  Variables */

:root {
  --primary-green: rgb(1, 53, 38);
  --primary-green-soft: rgba(1, 73, 52, 0.8);
  --secondary-light-green: rgba(230, 240, 231, 1);
  --third-light-green: rgba(178, 226, 186, 1);
  --third-light-green-soft: rgba(178, 226, 186, 0.6);
  --highlight-Orange: rgb(255, 148, 68);
  --fuentePrimaria: "Poppins";
  --success-green: rgb(46, 204, 113);
  --failure: #e74c3c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "poppins", sans-serif;
  padding-bottom: 20rem;
}

main {
  margin: 6rem auto;
  max-width: 1200px;
  width: 90%;
  color: var(--primary-green);
  min-height: 50vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Icons  */

.icon {
  display: inline-block;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  background-size: 1.2rem 1.2rem;
  fill: var(--primary-green);
}

article {
  margin-bottom: 10px;
}

/*================
    1.2 - Fonts 
==================*/

.footer__title {
  font-size: 1.4rem;
  padding-bottom: 0.7rem;
  margin-top: 1rem;
}

.footer__link {
  color: var(--secondary-light-green);
  line-height: 1.8rem;
  font-weight: normal;
}

.footer__contacto {
  font-weight: normal;
  font-size: 0.8rem;
}

.bold {
  font-weight: 600;
}

.text-danger {
  color: var(--failure);
  font-size: medium;
  max-width: 30em;
  font-size: 0.7rem;
  text-align: start;
}

.footer__list-item {
  transition: all 0.2s ease;
}

.footer__list-item:hover {
  color: var(--highlight-Orange);
}

/*================
   1.3 - Layout
==================*/

/* 1.3.A - Header */

header {
  position: fixed;
  background-color: white;
  left: 0px;
  top: 0px;
  width: 100%;
  border-bottom: solid var(--primary-green) 2px;
  z-index: 9;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  max-width: 75rem;
}

.header__logo {
  max-width: 8rem;
}

.dropdown {
  position: relative;
}

.dropdown__button {
  border: none;
  background: none;
  margin-left: 0.25rem;
}

.dropdown__user-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px var(--primary-green) solid;
}

.dropdown__user-img img {
  border-radius: 50%;
}

.dropdown__menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.5rem;
  border: 0.25rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  font-size: 14px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 10.5rem;
  gap: 0.5rem;
}

.dropdown > .dropdown__button:focus + .dropdown__menu {
  opacity: 1;
  transform: translateY(0);
}

.dropdown__a {
  color: black;
  text-decoration: none;
}

/* Search Bar */

.search-bar {
  --size: 30px;
  border: 2px solid var(--primary-green);
  display: flex;
  border-radius: 500px;
  height: var(--size);
  width: var(--size);
  padding: 3px;
  position: relative;
  transition: width 300ms ease-in-out;
  overflow: hidden;
}

.search-bar:focus-within {
  width: 200px;
}

.search-bar__input {
  flex-grow: 1;
  padding: 0 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: calc(var(--size) - 3px);
  opacity: 0;
  background: transparent;
  cursor: pointer;
}

.search-bar__input:focus {
  outline: 0;
  border: none;
}

.search-bar:focus-within .search-bar__input {
  opacity: 1;
  cursor: initial;
}

.search-bar__submit {
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 50%;
  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
  margin-left: auto;
  transition: background-color 150ms ease-in-out;
}

.search-bar:focus-within .search-bar__submit {
  background-color: var(--secondary-light-green);
}

.search-bar:focus-within > .search-bar__submit:focus,
.search-bar:focus-within > .search-bar__submit:hover {
  outline: 0;
  box-shadow: 0 0 10px var(--secondary-light-green);
}

/* Burger Menu */

.burger-menu {
  padding: 0 2rem;
}

.burger-menu__nav-toggler {
  display: none;
}

.burger-menu__nav-toggler:checked ~ div {
  position: absolute;
  display: block;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--third-light-green-soft);
}

.burger-menu__shadow {
  display: none;
}

.burger-menu__links {
  background-color: var(--primary-green);
}

.burger-menu__shadow a {
  color: #ffffff;
}

.burger-menu__shadow li {
  text-align: center;
  list-style: none;
  padding: 1rem 0;
}

/* Hidden Links (Mobile) */

.section-menu {
  display: none;
}

.icon-menu {
  display: flex;
  gap: 1rem;
}

/* 1.3.B - Footer */

.footer {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  font-weight: bold;
  background-color: var(--primary-green);
  color: var(--secondary-light-green);
  font-size: 0.9rem;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__legal-info {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  font-weight: normal;
  font-size: 0.5rem;
}

/* 1.3.C - Home */

/* Banners */

.banner-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.banner {
  padding: 1rem 0px 1rem 0;
  border-bottom: 1px solid;
}

.banner__sub-title {
  letter-spacing: 0.02rem;
  font-size: 0.85rem;
  margin: 0.5rem 0;
}

.banner__title {
  margin-bottom: 1rem;
}

.banner__img--big {
  height: 32rem;
}

.btn--right {
  align-self: flex-end;
}

.home__button {
  background-color: var(--primary-green);
  color: white;
  border: none;
  border-radius: 1.5rem;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.5rem 0;
  width: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.home__button:hover {
  background-color: var(--highlight-Orange);
  color: var(--primary-green);
}

/* 1.3.D - Login/Register */

.users__title {
  font-weight: 700;
  text-align: center;
  margin-top: 90px;
}

.users__subtitle {
  text-align: center;
  justify-content: space-around;
  margin-top: 20px;
  color: #014934;
}

.users__subtitle h4 {
  font-size: 0.9rem;
}

.users__link {
  display: inline-block;
  text-decoration-line: underline;
  font-weight: 700;
  color: #014934;
  margin-top: 20px;
  transition: color, 0.2s;
}

.users__link:hover {
  color: var(--highlight-Orange);
}

/* Login Form */

.users-form {
  padding: 10px 20px;
  margin-top: 10px;
}

.users-form__field {
  margin-bottom: 20px;
  position: relative;
}

.users-form__field i {
  position: absolute;
  top: 2.7rem;
  right: 1rem;
  visibility: hidden;
}

.adminForm__inputConteiner i {
  position: absolute;
  top: 2.7rem;
  right: 1rem;
  visibility: hidden;
}

input:focus {
  outline: none;
  border: 1px solid var(--highlight-Orange);
  box-shadow: 0 0 5px var(--highlight-Orange);
}

.inputSuccess input,
.inputSuccess textarea,
.inputSuccess select {
  border-color: var(--success-green);
}

.inputSuccess input:focus,
textarea:focus,
.inputSuccess select:focus {
  outline: none;
  border: 1px solid var(--success-green);
  box-shadow: 0 0 5px var(--success-green);
}

.inputFailure input,
.inputFailure textarea {
  border-color: var(--failure);
}

.inputFailure input:focus,
.inputFailure textarea:focus {
  outline: none;
  border: 1px solid var(--failure);
  box-shadow: 0 0 5px var(--failure);
}

.inputSuccess i.fa-circle-check {
  color: var(--success-green);
  visibility: visible;
}

.inputFailure i.fa-circle-exclamation {
  color: var(--failure);
  visibility: visible;
}

.users-form__label {
  display: block;
  margin: 6px 0px;
}

.users-form__input {
  width: 100%;
  padding: 9px;
  border: #014934 solid 1px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.users-form__checkbox-label,
.users-form__checkbox-input {
  font-size: 14px;
}

.userRecovery__title {
  display: flex;
  flex-direction: column;
}

.user-menu__confirmation-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 1.3.E - Password Recovery */

.users__forgotten {
  margin-bottom: 15px;
}

.users__forgotten-link {
  padding: 20px;
  text-decoration-line: underline;
  font-weight: 700;
  color: #014934;
  transition: all 0.2s ease;
}

.users__forgotten-link:hover {
  color: var(--highlight-Orange);
}

::placeholder {
  color: var(--primary-green-soft);
}

.user-recovery__form {
  margin-top: 3.5rem;
}

/* 1.3.F - Cart */

/* 2nd Version */

.cart {
  margin: 8rem 0;
}

.cart__title {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--primary-green);
}

.cart__header {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.7);
  color: var(--primary-green);
}

.cart__header-column--1 {
  width: 60%;
}

.cart__header-column--2,
.cart__header-column--3,
.cart__header-column--4 {
  width: 20%;
  margin: 0 -0.25rem;
}

.cart__product {
  display: flex;
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  height: 7rem;
}

.cart__product-detail {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 60%;
}

.cart__product-image {
  height: 4rem;
  width: 4rem;
  margin-left: 2rem;
}

.cart__product-price,
.cart__product-quantity,
.cart__product-total {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 20%;
}

.cart__product-price {
  padding-left: -0.25rem;
}

.cart__product-quantity {
  padding-left: 1rem;
}

.cart__product-total {
  padding-left: 0.1rem;
}

.minus-icon,
.plus-icon,
.trash-icon {
  color: black;
  transition: all 100ms ease;
}

.minus-icon:hover,
.plus-icon:hover,
.trash-icon:hover {
  color: var(--highlight-Orange);
}

.trash-icon {
  margin-left: -2.5rem;
  margin-right: 1.5rem;
}

.cart__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cart__form-left-column {
  grid-column: 1 / 3;
}

.cart__form-right-column {
  grid-column: 4;
}

.cart__payment-method {
  font-size: 16px;
  background-color: var(--primary-green);
  color: white;
  border: solid 1px rgba(0, 0, 0, 0.7);
  border-radius: 1.5rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.cart__payment-method-icon {
  font-size: 16px;
  color: white;
  margin-left: -2rem;
}

.cart__total-placeholder,
.cart__form-button-section {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  margin: 1rem;
}

.cart__total-label,
.cart__total-number {
  font-weight: bold;
}

.cart__button {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--primary-green);
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 3rem;
  cursor: pointer;
  transform: all 0.2s ease;
}

.cart__button:hover {
  background-color: var(--highlight-Orange);
  color: var(--primary-green);
}

.cart__message {
  display: block;
  font-size: 16px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1.5rem 1rem;
}

.cart__message a,
.cart__message a:active,
.cart__message a:visited {
  color: var(--highlight-Orange);
}

.cart__counter-section {
  position: relative;
}

.cart__counter {
  background-color: var(--highlight-Orange);
  border-radius: 50%;
  position: absolute;
  top: -10%;
  right: -50%;
  font-size: 12px;
  height: 1rem;
  width: 1rem;
  text-align: center;
  display: none;
}

/* 1st Version */

/*
.cart__title {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  border: black solid 1px;
  padding: 15px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--primary-green);
  color: white;
}

.cart__total-price {
  font-size: x-large;
  font-weight: bold;
}

.cart__buttons {
  display: block;
}

.cart__button {
  margin: 10px;
}
*/

/* 1.3.G - Shop */

.shop {
  display: flex;
  flex-direction: column;
}

.shop__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.shop__title {
  align-self: center;
  margin-bottom: 1rem;
  font-size: 40px;
  text-transform: uppercase;
}

.shop__btn {
  border: 3px solid green;
  flex: 1 0 auto;
  text-align: center;
  margin: 0.2rem 1rem;
  background-color: var(--third-light-green);
  border: 0px;
  width: 140px;
  color: var(--primary-green);
  font-weight: 600;
}

.shop-filters {
  display: none;
}

.shop-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.order-by__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.order-by__input {
  width: 13%;
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin-left: auto;
  font-size: 14px;
  text-transform: uppercase;
}

/* 1.3.H - Product Detail */

.product-detail__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
  padding: 3rem;
  color: var(--primary-green);
  margin-top: 5rem;
}

.column-1-of-2 {
  grid-column: 1 / 2;
}

.column-2-of-2 {
  border-left: solid 1px var(--primary-green);
  padding-left: 5rem;
  grid-column: 2 / 5;
}

.product-detail__figure {
  border: solid 1px var(--primary-green);
  border-radius: 30% 0.1rem 30% 0.1rem;
  height: 15rem;
  width: 15rem;
  padding: 0.5rem;
  margin: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.product-detail__figure:hover {
  border: solid 1rem var(--primary-green);
  padding: 0.5rem;
  transform: scale(1.5);
}

.product-detail__picture {
  object-fit: contain;
  border: solid 1px var(--primary-green);
  border-radius: 30% 0.1rem 30% 0.1rem;
}

.product-detail__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.product-detail__name {
  font-size: 1.75rem;
  font-weight: bold;
}

.product-detail__price--discount {
  font-size: 14px;
  letter-spacing: 0.1rem;
  margin-top: -1.5rem;
  text-decoration: line-through;
}

.product-detail__price--original {
  font-size: 26px;
  margin-top: -0.5rem;
  letter-spacing: 0.1rem;
}

.product-detail__calification {
  display: flex;
  flex-direction: column;
  margin-top: -0.5rem;
}

.product-detail__calification-line {
  height: 0.3rem;
  width: 0%;
  display: inline-block;
  background-color: var(--highlight-Orange);
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 1);
  transition: all 1.5s ease;
}

.product-detail__calification-label {
  align-self: flex-end;
  color: var(--highlight-Orange);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.product-detail__size-title {
  font-size: 16px;
  margin-bottom: 0.3rem;
}

.product-detail__size-button {
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-green);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.product-detail__size-button:not(:last-child) {
  margin-right: 0.3rem;
}

.product-detail__size-button:hover {
  background-color: var(--highlight-Orange);
  color: var(--primary-green);
}

.product-detail__color {
  font-size: 16px;
  margin-top: -0.5rem;
}

.product-detail__color-title {
  margin-bottom: 0.35rem;
}

.product-detail__color-button {
  height: 2rem;
  width: 2rem;
  border: solid 1px rgba(0, 0, 0, 1);
  border-radius: 50%;
  cursor: pointer;
}

.product-detail__color-button:not(:last-child) {
  margin-right: 0.3rem;
}

.product-detail__color-button--1 {
  background-color: white;
}

.product-detail__color-button--2 {
  background-color: brown;
}

.product-detail__color-button--3 {
  background-color: orange;
}

.product-detail__quantity {
  display: flex;
  gap: 1rem;
}

.product-detail__button {
  width: 50%;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--primary-green);
  color: rgba(255, 255, 255, 1);
  border: 0;
  border-radius: 1.5rem;
  padding: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2 ease;
}

.product-detail__button:hover {
  background-color: var(--highlight-Orange);
  color: var(--primary-green);
}

.product-detail__quantity-selector {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: solid 1px var(--primary-green);
  border-radius: 1.5rem;
  color: var(--primary-green);
  font-size: 16px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  width: 25%;
}

.product-detail__less-button,
.product-detail__plus-button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  transition: all 0.1s ease;
}

.product-detail__less-button i,
.product-detail__plus-button i {
  cursor: pointer;
}

.product-detail__less-button:hover,
.product-detail__plus-button:hover {
  color: var(--highlight-Orange);
}

.product-detail__features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: solid 1px var(--primary-green);
}

.product-detail__heading {
  font-size: 36px;
  background: linear-gradient(
    to right,
    var(--primary-green),
    var(--primary-green-soft)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.5rem;
}

.product-detail__paragraph,
.product-detail__care-level {
  font-size: 18px;
  margin-top: -0.75rem;
  width: 75%;
}

.product-detail__care-level {
  color: var(--highlight-Orange);
  text-transform: uppercase;
}

/* .product-section {
  display: flex;
  flex-direction: column;
}

.prod-detail {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.prod-detail__slide {
  display: flex;
  position: relative;
}

.prod-detail__slide img {
  object-fit: cover;
  width: 100%;
}

.prod-detail__prev,
.prod-detail__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2rem;
  padding: 16px;
  color: var(--primary-green);
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prod-detail__prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prod-detail__next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.prod-detail__prev:hover,
.prod-detail__next:hover {
  background-color: var(--primary-green-soft);
}

.prod-detail h2 {
  margin-top: 1rem;
  font-weight: normal;
}

.prod-detail__price {
  align-self: center;
}

.prod-detail__price span {
  text-decoration: line-through;
  font-weight: normal;
  color: var(--primary-green-soft);
  margin-left: 1rem;
}

.prod-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 20rem;
} */

/* 1.3.I - Administrator */

/* Sidebar */

.admin__sidebar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 0;
  position: fixed;
  left: 0;
  background-color: var(--primary-green-soft);
  border-radius: 20px 20px 0 0;
}

.admin_sidebar__nav {
  display: none;
}

.admin__span {
  display: none;
}

.admin__links {
  display: block;
  padding-left: 0%;
}

.admin__sidebar i {
  color: white;
  padding: 16px;
}

.admin__links_item {
  margin: 0 0;
  /* background-color: var(--highlight-Orange); */
}

.admin__links_item:hover {
  background-color: var(--highlight-Orange);
}

/* Page Content */

.admin {
  /* width: calc(100%-3rem); */
  /* margin-left: 3rem; */
  margin-top: 80px;
  text-align: center;
}

.admin__nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--third-light-green-soft);
}

.admin__nav li {
  flex: 1 0 auto;
  border: 1px solid #014934;
  padding: 0 auto;
}

.admin__nav a {
  color: #014934;
  width: 100%;
}

.admin__form {
  display: block;
  margin-top: 1rem;
  background-color: var(--secondary-light-green);
  border-top: solid var(--primary-green) 1px;
  border-bottom: var(--primary-green) 1px solid;
}

.adminForm__inputConteiner {
  margin: auto 0;
}

.admin__label {
  display: block;
}

.admin__input {
  text-align: center;
}

.admin__buttons {
  display: block;
  margin: auto;
}

.admin__buttons--input {
  justify-items: center;
  width: 12rem;
}

.admin__textarea {
  resize: none;
}

#fieldInput {
  padding-left: 0;
}

.admin-form__label {
  text-align: left;
  display: block;
  align-self: flex-start;
  padding-bottom: 0.5rem;
}

#Admin-addressEdit {
  margin-top: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.admin__input {
  display: block;
  text-align: center;
  width: 100%;
  text-align: left;
  background: white;
  padding-left: 0.5em;
  border: 1px solid var(--primary-green);
  border-radius: 5px;
  box-shadow: 0px 0px 2px var(--primary-green);
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.admin__input:focus {
  outline: none;
  border: 1px solid var(--highlight-Orange);
  box-shadow: 0 0 5px var(--highlight-Orange);
}

.admin__buttons--input {
  margin-top: 2rem;
}

.admin__input--img {
  text-align: left;
}

/* Product List */

/* .admin__itemList{
    border: red 1px solid;
}

.admin__itemImg{
    max-width: 50px;
    max-height: 50px;
} */

.table-conteiner {
  overflow-x: auto;
}

th,
td {
  border-bottom: 1px solid #000;
}

.table,
th,
td {
  border: 1px solid;
}

th {
  background-color: var(--primary-green-soft);
  color: white;
}

tr {
  max-height: 2rem;
}

tr:nth-child(even) {
  background-color: var(--third-light-green-soft);
}

tr:hover {
  background-color: var(--third-light-green-soft);
}

.table-btn {
  color: #014934;
}

.list-table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1rem;
}

.list-table__img-conteiner {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.list-table__img-conteiner img {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 1.5rem;
}

/* 1.3.J - Error Page */

.error-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  min-height: 70vh;
  justify-content: space-between;
  max-width: 80vw;
}

.error-menu li {
  margin: 0.7rem 0;
}

.error-menu__link {
  text-decoration: underline;
  color: var(--primary-green);
  font-weight: 600;
  margin-top: 2rem;
}

.error-menu__img-conteiner {
  border-radius: 25px;
}

.error-menu__img-conteiner img {
  object-fit: cover;
  border-radius: 25px;
}

/* 1.3.K - User Menu */

/* 2nd Version */

.user-menu__placeholder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.left-column {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.right-column {
  grid-column: 2 / 4;
  text-align: center;
  margin-left: 5rem;
}

.user-menu__title,
.user-menu__orders-title {
  font-size: 1.75rem;
  line-height: normal !important;
  margin: 1rem 0 !important;
  padding: 0 !important;
  word-spacing: 0.2rem;
}

.user-menu__title-contact,
.user-menu__title-user,
.user-menu__title-password {
  font-size: 1.75rem;
  margin: 1.75rem 0;
}

.user-menu__email {
  font-size: 14px;
  color: var(--highlight-Orange);
  margin-top: -1.5rem;
}

.user-menu__logout {
  font-size: 14px;
  margin-top: -0.75rem;
}

.user-menu__logout-button {
  color: var(--highlight-Orange);
  text-decoration: underline;
  margin-left: 0.25rem;
}

.user-menu__selection {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  height: 9.85rem;
}

.user-menu__information,
.user-menu__orders,
.user-menu__favourites {
  background-color: var(--primary-green);
  color: white;
  border-radius: 0.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-menu__information:hover,
.user-menu__orders:hover,
.user-menu__favourites:hover {
  background-color: var(--highlight-Orange);
  color: var(--primary-green);
  transform: translateX(1.5rem);
}

.user-menu__information-list {
  display: none;
  list-style: none;
  width: 70%;
  margin-left: 3rem;
  transition: all 1ms ease;
}

.user-menu__information-list-toggle {
  display: block;
}

.user-menu__information-item {
  font-size: 14px;
  background-color: var(--primary-green);
  color: white;
  border: solid 1px white;
  width: 100%;
  padding: 0.3rem 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-menu__information-item:not(:last-child) {
  margin-bottom: 0.1rem;
}

.user-menu__information-item:hover {
  background-color: var(--highlight-Orange);
  color: var(--primary-green);
  transform: translateX(1.5rem);
}

.user-menu__contact {
  border-top: solid 1px var(--primary-green);
  padding-top: 0.75rem;
  margin-top: -1.1rem;
  width: 100%;
  transition: all 1ms ease;
}

.user-menu__contact-toggle {
  margin-top: 7.3rem;
}

.user-menu__contact-message {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.user-menu__contact-list {
  list-style: none;
}

.user-menu__email-reference,
.user-menu__telephone-reference {
  font-size: 18px;
  font-weight: bold;
}

.user-menu__email-contact,
.user-menu__telephone-contact {
  font-size: 14px;
  margin-bottom: 0.75rem;
  margin-top: 0.1rem;
}

.user-menu__email-contact {
  color: var(--highlight-Orange);
  text-decoration: underline;
  cursor: pointer;
}

.user-menu__orders-message {
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.user-menu__button {
  background-color: var(--primary-green);
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  width: 30%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s ease;
}

.user-menu__button:hover {
  background-color: var(--highlight-Orange);
  color: var(--primary-green);
  transform: translateY(-0.1rem);
}

.user-menu__avatar-placeholder {
  height: 17rem;
  width: 17rem;
  border: solid 1px var(--primary-green);
  border-radius: 40% 0.1rem 40% 0.1rem;
  overflow: hidden;
  margin: 5rem auto;
  padding: 0.5rem;
  transition: all 0.2s ease;
}

.user-menu__avatar-placeholder:hover {
  border: solid 1rem var(--primary-green);
  padding: 0.5rem;
  transform: scale(1.5);
}

.user-menu__avatar {
  width: 100%;
  height: 100%;
  border: solid 1px var(--primary-green);
  border-radius: 40% 0.1rem 40% 0.1rem;
  transition: all 0.2s ease;
}

/* 1st Version */

.user-menu-header {
  display: flex;
  flex-direction: column;
}

.user-menu__title {
  text-align: center;
  margin: 0.5rem 0;
}

.user-menu__img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.user-menu__nav {
  text-align: center;
}

.user-menu__info > p {
  margin-top: 5px;
}

.user-menu__nav ul:hover {
  cursor: pointer;
}

.user-menu__nav ul {
  margin: 1rem 0;
  background-color: var(--third-light-green-soft);
  border-radius: 10px;
  border: #014934 solid 2px;
  transition: all 1s;
}

.user-menu__nav ul:hover {
  background-color: var(--highlight-Orange);
  border: #014934 solid 2px;
}

.user-menu__links {
  font-weight: 700;
  color: #014934;
  transition: all 0.2s;
  padding: 1rem;
}

.user-menu__links:hover {
  color: #ffffff;
}

/* Address Form */

.address-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}

.address-form .users-form__label {
  margin: 4px 0px;
}

.users-form__label {
  font-size: 18px;
  font-weight: bold;
  text-align: start;
}

.users-form__input {
  border-radius: 0.1rem;
}

.address-form .users-form__field {
  grid-column-end: span 2;
}

.adminForm__inputConteiner--desc {
  grid-area: 2/2/4/3;
}

.adminForm__inputConteiner--big {
  grid-row-end: span 2;
}

.span-2 {
  grid-column-end: span 2;
}

.address-form input:last-child {
  grid-column-start: 1;
  grid-column-end: span 2;
}

/* 1.3.L - About */

.about-us__section--1,
.about-us__section--3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}

.about-us__section--2 {
  margin-bottom: 5rem;
}

.about-us__left-column,
.about-us__right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us__image-placeholder {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.about-us__image {
  object-fit: cover;
  border-radius: 20% 0.1rem 20% 0.1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  height: 20rem;
}

.about-us__start-quote,
.about-us__end-quote {
  font-size: 1.5rem;
  width: 100%;
}

.about-us__start-quote {
  margin-bottom: 0.5rem;
}

.about-us__end-quote {
  text-align: end;
  margin-top: 0.5rem;
}

.heading-primary {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1.5rem;
  background-color: var(--primary-green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-us__heading--1,
.about-us__heading--2,
.about-us__heading--3 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  background-color: var(--primary-green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-us__heading--1,
.paragraph-primary--1 {
  align-self: flex-start;
  text-align: start;
}

.about-us__heading--2 {
  text-align: center;
}

.about-us__heading--3,
.paragraph-primary--3 {
  align-self: flex-end;
  text-align: end;
}

.paragraph-primary--3 {
  font-style: italic;
}

.principles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.principle {
  width: 25%;
  text-align: center;
  background-color: var(--third-light-green-soft);
  border-radius: 40% 0.1rem 40% 0.1rem;
  font-size: 16px;
  padding: 2.25rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.principle:hover {
  transform: translateY(-1rem);
}

.principle i {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.column-1-of-3 {
  width: 27.5%;
  margin-left: 0.6rem;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 17.5rem;
  margin-bottom: -3rem;
}

.card__side {
  width: 17.5rem;
  height: 17.5rem;
  position: absolute;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  border-radius: 40% 0.1rem 40% 0.1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card__side--front {
  z-index: 1;
}

.card__side--back {
  background-color: var(--secondary-light-green);
  transform: rotateY(-180deg);
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover .card__side--front {
  transform: rotateY(180deg);
  z-index: 0;
}

.card:hover .card__side--back {
  transform: rotateY(0);
  z-index: 1;
}

.card__picture--1,
.card__picture--2,
.card__picture--3 {
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

.card__title {
  width: 100%;
  color: var(--primary-green);
  font-size: 26px;
  text-align: center;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  margin-bottom: 1rem;
}

.card__details ul {
  list-style: none;
}

.card__details li {
  color: var(--primary-green);
  text-align: center;
  font-size: 1rem;
  padding: 0.25rem 0;
}

/*===============
   1-4 LIBRERY
=================*/

/* Flexbox */

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-to-RowDekstop {
  display: flex;
  flex-direction: column;
}

.auto-flex {
  flex: 1 0 auto;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.no-list-style {
  list-style: none;
}

.center-text {
  text-align: center;
}

.link--primarycolor {
  color: var(--primary-green);
}

.link--primarycolor .subtitle {
  font-size: 16px;
}

.max-width {
  max-width: 1300px;
  margin: 0 auto;
}

.display-none {
  display: none;
}

.no-padding {
  padding: 0;
}

.img-conteiner {
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.img-conteiner-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2/2/4/-1;
}
.img-conteiner-edit--user {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2/2/5/-1;
}

.img-edit {
  width: 10rem;
  /* height: 25rem; */
  /* margin-top: -5rem; */
}

/* ==================
  1-5  Componentes
 ====================*/

.icon {
  display: inline-block;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  background-size: 1.2rem 1.2rem;
}

/* Social Media  */

.icon--footer {
  background-size: 1.6rem 1.6rem;
  margin: 0 1.5rem 0 0;
  width: 1.6rem;
  height: 1.6rem;
}

/* Buttons */

.btn {
  background-color: var(--third-light-green);
  color: var(--primary-green);
  padding: 0.3rem 2rem;
  border: 0px;
}

/*
.btn:hover {
    font-weight: bold;
}
*/

.btn--comprar {
  margin-left: auto;
  background-color: #014934;
  color: white;
  font-weight: normal;
  padding: 0.3rem 3rem;
  transition: all 0.5s;
}

.btn--plant {
  background-color: var(--primary-green);
  border-radius: 1.5rem;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 0.4rem 0;
  transition: all 0.2s;
  margin: 0.3rem 0;
  width: 100%;
}

.btn--plant:hover {
  background-color: var(--highlight-Orange);
  color: var(--primary-green);
}

.btnStyle2 {
  font-size: 18px;
  font-weight: bold;
  background-color: #014934;
  color: white;
  width: 40%;
  border: 0;
  border-radius: 1.5rem;
  padding: 0.4rem 0;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btnStyle2:hover {
  background-color: var(--highlight-Orange);
  color: var(--primary-green);
}

.counter {
  display: flex;
}

.counter__input {
  height: 2.2rem;
  width: 3rem;
  text-align: center;
  font-size: 1.3rem;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

.counter__minus,
.counter__plus {
  cursor: pointer;
  height: 2.2rem;
  width: 2rem;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

/* Card */

/* 2nd Version */

.plant-card {
  border-radius: 0.1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  position: relative;
  height: 100%;
  transition: all 0.2s ease;
}

.plant-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}

.plant-card__section-top {
  padding: 1rem;
  height: 70%;
}

.plant-card__picture-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.plant-card__picture {
  object-fit: cover;
  max-height: 12rem;
}

.plant-card__discount-label {
  background-color: var(--third-light-green-soft);
  border-radius: 1.5rem 0.1rem 1.5rem 0.1rem;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  color: v;
  margin: 0.75rem 0.5rem;
  padding: 0 1rem;
}

.plant-card__discount-price {
  display: inline;
  text-decoration: line-through;
  font-size: 0.7rem;
}

.plant-card__section-bottom {
  background-color: rgba(1, 53, 38, 0.8);
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  width: 100%;
}

.plant-card__name {
  font-size: 16px;
  font-weight: bold;
  margin: 0.6rem 0;
}

.plant-card__price {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0.4rem;
}

.plant-card__button {
  background-color: var(--primary-green);
  border: none;
  border-radius: 1.5rem;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0.25rem;
  padding: 0.25rem 1.75rem;
  width: 70%;
  transition: all 0.2s ease;
}

.plant-card__button:hover {
  background-color: var(--highlight-Orange);
  color: var(--primary-green);
}

/* 1st Version  */

.plant-Card {
  display: flex;
  flex-direction: column;
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  height: 15rem;
  margin: 0.3rem;
  transition: all 0.2s;
}

.discount {
  text-decoration: line-through;
}

.plant-Card:hover {
  transform: scale(1.1);
}

.plant-card__img {
  object-fit: contain;
}

.plant-Card__img-conteiner {
  position: relative;
  height: 10rem;
}

.plant-Card__background {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 140px;
  width: 90%;
  background-color: var(--third-light-green-soft);
  opacity: 0.4;
  z-index: -1;
  border-radius: 90% 0rem 60% 0.1rem;
}

.plant-card__label {
  background-color: var(--highlight-Orange);
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 14px;
  color: black;
  text-align: right;
  padding-right: 1em;
  padding-left: 1em;
  clip-path: polygon(92% 0, 100% 50%, 92% 100%, 0% 100%, 8% 50%, 0% 0%);
}

.green {
  color: var(--primary-green);
}

.plant-Card p {
  display: inline;
  font-size: 14px;
  margin: 0.2rem 0;
}

.plant-Card h4 {
  font-size: 16px;
  /* margin: 0.3rem 0; */
}

.most-selled {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-auto-rows: minmax(100px, 22rem);
  width: 80%;
  margin-left: 6.5rem;
}

/* Icons  */

#search {
  background-image: url(../img/icons/icon-search.svg);
}

#user {
  background-image: url(../img/icons/icon-user.svg);
  margin: 4px 0;
}

#cart {
  background-image: url(../img/icons/icon-cart.svg);
  margin: 4px 0;
}

#burger {
  background-image: url(../img/icons/icon-hamburger.svg);
}

#pinterest {
  background-image: url(../img/icons/icon-pinterest3.svg);
}

#facebook {
  background-image: url(../img/icons/icon-fb3.svg);
}

#instagram {
  background-image: url(../img/icons/icon-instagram3.svg);
}

#whatsapp {
  background-image: url(../img/icons/icon-whatsapp.svg);
}

#trash {
  background-image: url(../img/icons/icon-trash.svg);
}

/*========================
    1.6 - Media Queries
==========================*/

@media (min-width: 769px) {
  html {
    font-size: 18px;
  }

  .media-flex-row {
    flex-direction: row;
  }

  .flex-column-to-RowDekstop {
    flex-direction: row;
  }

  /* Navigation Links */

  .burger-menu {
    display: none;
  }

  .section-menu {
    display: flex;
  }

  .section-menu__list {
    display: flex;
  }

  .section-menu li {
    list-style: none;
    padding: 0rem 1.5rem;
    height: 90px;
    text-align: center;
    line-height: 90px;
    transition: 0.5s background-color;
  }

  .section-menu__list--active {
    border-bottom: 0.3rem solid var(--highlight-Orange);
  }

  /* Logo */

  .header__logo {
    order: -1;
    max-width: 10rem;
  }
  .header {
    max-width: 1300px;
    margin: 0 auto;
  }

  .nav-item {
    font-family: "Poppins";
    font-weight: bold;
    color: #014934;
  }

  /* Banner */

  .banner-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    max-width: 1300px;
    margin: 0 auto 2rem;
  }

  .banner1 {
    grid-area: 1/1/3/2;
  }

  .banner2 {
    grid-area: 1/2/2/3;
  }

  .banner3 {
    grid-area: 2/2/3/3;
  }

  .banner__link {
    height: 100%;
  }

  .banner__img--big {
    flex: 1 1 auto;
  }

  .banner__img {
    height: 250px;
  }

  .banner__img img {
    border-radius: 0.1rem;
  }

  .plant-Card__img-conteiner {
    height: 13rem;
  }

  .most-selled {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
  }

  .prod-detail {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-right: 2rem;
    max-width: 50%;
  }

  /* Shop  */

  .shop-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    row-gap: 3rem;
  }

  .shop-flex {
    display: flex;
    flex-direction: row;
  }

  .shop-filters {
    display: block;
    position: sticky;
    top: 150px;
    min-width: 180px;
    height: 60vh;
    background-color: var(--primary-green);
    border-radius: 50px 0 50px 0;
    margin-right: 20px;
    padding: 1rem 20px 20px 20px;
    color: var(--secondary-light-green);
  }

  .shop-filters h5 {
    margin-top: 1rem;
  }

  .shop-filters__list li {
    font-weight: 400;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .shop-filters__list a {
    color: var(--secondary-light-green);
  }

  .shop-pages {
    display: flex;
    grid-column: span 4;
    align-items: center;
    justify-content: center;
  }

  .shop-pages__link {
    cursor: pointer;
    margin: 0 1rem;
    transition: all 0.2s ease;
  }

  .shop-pages__link--active {
    color: var(--highlight-Orange);
  }

  .shop-pages__left-arrow,
  .shop-pages__right-arrow {
    font-size: 14px;
    margin: 0.4rem 0.7rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .shop-pages__left-arrow:hover,
  .shop-pages__right-arrow:hover {
    color: var(--highlight-Orange);
  }

  /* Shop Cart */

  /*
  .cart {
    margin: auto;
    max-width: 690px;
  }
  */

  .cart__product {
    max-height: 180px;
  }

  .cart__productImage {
    max-height: 160px;
    max-width: 150px;
  }

  .cart__buttons {
    display: flex;
    justify-content: space-around;
  }

  .cart__btn {
    width: 13rem;
  }

  /* --- ADMINISTRATOR --- */

  /* Administrator Sidebar */

  .admin__sidebar {
    position: fixed;
    width: 10rem;
    height: 100%;
    left: 0;
    top: 90px;
    border-radius: 0;
    display: block;
    text-align: center;
    background-color: var(--primary-green);
  }

  .admin_sidebar__nav {
    display: inline;
  }

  .admin_sidebar__nav > li {
    text-align: center;
    margin: 0.2rem 0.1rem;
    border-top: 1px #ffffff solid;
    border-bottom: 1px #ffffff solid;
    padding: 2px 1rem;
    border-radius: 4px;
    transition: all 0.2s;
  }

  /* .admin_sidebar__nav > li:active {
    background-color: var(--highlight-Orange);
  } */

  .admin-sidebar__link {
    color: #ffffff;
  }

  .admin__span {
    display: initial;
  }

  .admin__links {
    padding: 10px 10px;
    text-align: justify;
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
  }

  .admin__nav {
    display: none;
  }

  .admin__sidebar i {
    padding: 10px;
  }

  .admin__links:active {
    /* background-color: var(--highlight-Orange); */
    border-radius: 30px 0 0 30px;
  }

  /* Administator Page Content */

  .admin {
    color: var(--primary-green);
    margin-top: 90px;
    margin-left: 10rem;
    text-align: center;
  }

  .admin__buttons {
    display: flex;
    justify-content: space-around;
  }

  #showAddress {
    width: 16em;
  }

  .admin__buttons--input {
    width: 11rem;
  }

  /* User Menu */

  .user-menu-header {
    flex-direction: row;
    margin-bottom: 4rem;
  }

  .user-menu__img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .users-form__field i {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    visibility: hidden;
  }

  /* Address */

  .address-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .address-form .users-form__field {
    grid-column-end: span 2;
  }

  .address-form input:last-child {
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  .user-menu__title {
    line-height: 200px;
    margin: 0 auto;
  }

  .user-menu__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
  }

  .user-menu__info > p {
    margin-top: 5px;
  }

  .users-form__field i {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    visibility: hidden;
  }

  .users-header {
    width: 50%;
  }

  .users-form-conteiner {
    width: 50%;
    margin-top: 3rem;
  }

  .admin-form__conteiner {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 4em;
    padding: 2rem;
    margin: 0rem auto auto auto;
    border-radius: 20px;
    background-color: var(--secondary-light-green);
    max-width: 800px;
  }

  .adminMenu__title {
    margin-top: 6rem;
  }

  .grid-1-start {
    grid-column-start: 1;
  }
}
