<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <%- include('./partials/head') %>
    <title>Sobre Nosotros</title>
  </head>
  <body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <!-- Main -->
    <main class="section-about">
      <div class="heading-primary">
        <h1>Miembros</h1>
      </div>
      <div class="row">
        <div class="column-1-of-3">
          <div class="card">
            <div class="card__side card__side--front"></div>
            <div class="card__side card__side--back"></div>
          </div>
        </div>
        <div class="column-1-of-3">
          <div class="card">
            <div class="card__side card__side--front"></div>
            <div class="card__side card__side--back"></div>
          </div>
        </div>
        <div class="column-1-of-3">
          <div class="card">
            <div class="card__side card__side--front"></div>
            <div class="card__side card__side--back"></div>
          </div>
        </div>
      </div>
    </main>
    <!--    footer   -->
    <%- include('./partials/footer') %>
  </body>
</html>
