<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <%- include('./partials/head') %>
    <title>Sobre Nosotros</title>
  </head>
  <body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <!-- Main -->
    <main class="section-about">
      <h2 class="heading-primary">Planta Susi</h2>
      <p class="paragraph-primary">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati
        commodi molestias quidem quaerat, sint atque in debitis placeat quo,
        eaque officia libero facere fugit corrupti ullam laborum fuga molestiae
        unde.
      </p>
      <h2 class="heading-primary">Integrantes</h2>
      <div class="row">
        <div class="column-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture--1">&nbsp;</div>
            </div>
            <div class="card__side card__side--back">
              <h2 class="card__title">Bruno Secchiari</h2>
              <div class="card__details">
                <ul>
                  <li>Licenciatura En Economía</li>
                  <li>Software Developer (Python)</li>
                  <li>Ciencia De Los Datos</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture--2">&nbsp;</div>
            </div>
            <div class="card__side card__side--back">
              <h2 class="card__title">Juan Mateu</h2>
              <div class="card__details">
                <ul>
                  <li>Característica 1</li>
                  <li>Característica 2</li>
                  <li>Característica 3</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture--3">&nbsp;</div>
            </div>
            <div class="card__side card__side--back">
              <h2 class="card__title">Orlando Ayala</h2>
              <div class="card__details">
                <ul>
                  <li>Característica 1</li>
                  <li>Característica 2</li>
                  <li>Característica 3</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--    footer   -->
    <%- include('./partials/footer') %>
  </body>
</html>
