<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <%- include('./partials/head') %>
    <title>Sobre Nosotros</title>
  </head>
  <body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <!-- Main -->
    <main class="section-about">
      <section class="about-us__section--1">
        <div class="about-us__left-column">
          <h2 class="about-us__heading--1">
            Nuestra Historia
          </h2>
          <p class="paragraph-primary">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati
            commodi molestias quidem quaerat, sint atque in debitis placeat quo,
            eaque officia libero facere fugit corrupti ullam laborum fuga
            molestiae unde. Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Obcaecati commodi molestias quidem quaerat, sint atque in
            debitis placeat quo, eaque officia libero facere fugit corrupti
            ullam laborum fuga molestiae unde.
          </p>
        </div>
        <div class="about-us__right-column">
          <div class="about-us__image-placeholder">
            <img
              src="/img/portadas/Gardening1.jpg"
              alt="Jardineria"
              class="about-us__image"
            />
          </div>
        </div>
      </section>
      <section class="about-us__section--2">
        <h2 class="about-us__heading--2">Nuestros Pilares</h2>
        <div class="principles">
          <div class="principle">
            <i class="fa-solid fa-cloud-sun"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit hic
              incidunt suscipit necessitatibus ex.
            </p>
          </div>
          <div class="principle">
            <i class="fa-solid fa-droplet"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit hic
              incidunt suscipit necessitatibus ex.
            </p>
          </div>
          <div class="principle">
            <i class="fa-solid fa-wind"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit hic
              incidunt suscipit necessitatibus ex.
            </p>
          </div>
          <div class="principle">
            <i class="fa-solid fa-seedling"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit hic
              incidunt suscipit necessitatibus ex.
            </p>
          </div>
        </div>
      </section>
      <section class="about-us__section--3">
        <div class="about-us__left-column">
          <div class="about-us__image-placeholder">
            <img
              src="/img/portadas/Gardening4.jpg"
              alt="Jardineria"
              class="about-us__image"
            />
          </div>
        </div>
        <div class="about-us__right-column">
          <h2 class="about-us__heading--3">
            Nuestros Comentarios
          </h2>
          <i class="fa-solid fa-quote-left about-us__start-quote"></i>
          <p class="paragraph-primary--3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto
            deleniti reiciendis eius perspiciatis reprehenderit tempora quisquam
            quis obcaecati odit! Sit reprehenderit, molestias sunt nobis sed
            dolores accusantium dolorum ex maiores.
          </p>
          <i class="fa-solid fa-quote-right about-us__end-quote"></i>
        </div>
      </section>
      <h2 class="about-us__heading--2">Nuestros Integrantes</h2>
      <div class="row">
        <div class="column-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <img
                src="/img/portadas/BrunoSecchiari.jpg"
                alt="Integrante 1"
                class="card__picture--1"
              />
            </div>
            <div class="card__side card__side--back">
              <h2 class="card__title">Bruno Secchiari</h2>
              <div class="card__details">
                <ul>
                  <li>Ciencia De Los Datos</li>
                  <li>Licenciatura En Economía</li>
                  <li>Software Developer (Python)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <img
                src="/img/portadas/JuanMateu.jpg"
                alt="Integrante 2"
                class="card__picture--2"
              />
            </div>
            <div class="card__side card__side--back">
              <h2 class="card__title">Juan Mateu</h2>
              <div class="card__details">
                <ul>
                  <li>Desarrollador web</li>
                  <li>Soporte IT</li>
                  <li>Administración de empresas</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <img
                src="/img/portadas/OrlandoAyala.jpg"
                alt="Integrante 3"
                class="card__picture--3"
              />
            </div>
            <div class="card__side card__side--back">
              <h2 class="card__title">Orlando Ayala</h2>
              <div class="card__details">
                <ul>
                  <li>Informático</li>
                  <li>MSc en física médica</li>
                  <li>Trilingüe</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--    footer   -->
    <%- include('./partials/footer') %>
  </body>
</html>
