<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Head -->
        <%- include('./partials/head') %>
        
        <title>PlantaSusi</title>
    </head>
<body>

    <!-- Header -->
    <%- include('./partials/header') %>
    
    <!-- Main -->
    <main class="main">

        <!-- Best Products -->
        <section class="banner-section">
            <article class="banner banner1">
                <a class="link--primarycolor flex-column banner__link" href="products/shop">
                    <div class="banner__img banner__img--big">
                        <img src="img\portadas\PlantasDeInterior.png" alt="Seleccion De Otoño">
                    </div>
                    <p class="banner__sub-title">Plantas De Interior - 20% OFF</p>
                    <h3 class="banner__title">Conoce Nuestra Selección De Plantas</h3>
                    <button class="home__button">Ver Productos</button>
                </a>
            </article>
            <article class="banner banner2">
                <a class="link--primarycolor" href="/products/detail/37" >
                    <div class="banner__img ">
                        <img src="img\portadas\gomero.jpg" alt="portada de seleccion otoño">
                    </div>
                    <div banner__footer>
                        <p class="banner__sub-title">Gomero - 30% OFF</p>
                        <h3 class="banner__title">¡Gomero Veteado En Oferta!</h3>
                    </div>
                </a>
            </article>
            <article class="banner banner3">
                <a class="link--primarycolor" href="/products/detail/1" >
                    <div class="banner__img">
                        <img src="img\portadas\herramientas.png" alt="portada de seleccion otoño">
                    </div>
                    <p class="banner__sub-title">Herramientas De Jardin - 20% OFF</p>
                    <h3 class="banner__title">Conoce Nuestras Herramientas De Jardineria</h3>
                </a>
            </article>
        </section>

        <!-- Most Selled -->
        <h1 class="heading-primary">Más Vendidos</h2>
        <section class="most-selled">
            <% for (i = 0 ; i < 4 ; i++) { %>
                    <%- include('./partials/PlantCard.ejs', { data : products[i] }) %>
                <% }; %> 
        </section>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>

</body>
</html>
