<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Head menos title -->
        <%- include('./partials/head') %>
        <title>PlantaSusi</title>
    </head>
<body>
    <!-- header -->
    <%- include('./partials/header') %>
    
    <!-- main -->
    <main class="main">
        <!-- seccion de destacados -->
        <section class="banner-section">
        
            <article class="banner banner1">
                <a class="link--primarycolor flex-column banner__link" href="products/shop">
                    <div class="banner__img banner__img--big">
                        <img src="img\portadas\plantas-interior.png" alt="portada de seleccion otoño">
                    </div>
                    <p class="banner__sub-title">20% OFF en nuestras plantas de interior</p>
                    <h3 class="banner__title">Mira nuestra seleccion de plantas!</h3>
                    <button class="btn btn--right">Comprar ahora</button>
                </a>
            </article>

            <article class="banner banner2">
                <a class="link--primarycolor" href="/products/detail/1" >
                    <div class="banner__img ">
                        <img src="img\portadas\gomero.jpg" alt="portada de seleccion otoño">
                    </div>
                    <div banner__footer>
                        <p class="banner__sub-title">30% OFF en gomero</p>
                        <h3 class="banner__title">Gomero veteado en oferta!</h3>
                    </div>
                </a>
            </article>

            <article class="banner banner3">
                <a class="link--primarycolor" href="/products/detail/1" >
                    <div class="banner__img">
                        <img src="img\portadas\herramientas.png" alt="portada de seleccion otoño">
                    </div>
                    <p class="banner__sub-title">20% OFF en accesorios para cuidar tus plantas</p>
                    <h3 class="banner__title">Herramientas de jardineria</h3>
                </a>
            </article>

        </section>

        <!-- seccion mas vendidos -->
        
        <h1 class="center-text">Mas vendidos</h2>
        <section class="most-selled">
            <% for (i = 0 ; i < 4 ; i++) { %>
                    <%- include('./partials/PlantCard.ejs', { data : products[i] }) %>
                <% }; %> 
        </section>
        <!--  include('./partials/bestSells' {products})  -->

    </main>

    <!--    footer   -->
    <%- include('./partials/footer') %>
</body>
</html>