<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <%- include('./partials/head') %>
  </head>
  <body>
    <!-- Header -->
    <%- include('./partials/header') %>

    <!-- Main -->
    <main>
      <section class="cart">
        <div class="cart__title">
          <div>Listado De Productos</div>
        </div>

        <div class="cart__header">
          <div class="cart__column cart__column--1">Producto</div>
          <div class="cart__column">Precio</div>
          <div class="cart__column">Cantidad</div>
          <div class="cart__column">Subtotal</div>
        </div>

        <!--
        <div class="cart__product">
          <div class="cart__product-detail">
            <div class="cart__product-image">
              <img src="/img/plantas/Aglaonema.png" alt="Imagen Del Producto" />
            </div>
          </div>
          <div class="cart__product-price">$999.99</div>
          <div class="cart__product-quantity">
            <input type="number" value="1" min="1" max="100" />
          </div>
          <div class="cart__product-total">$999.99</div>
        </div>
        <div class="cart__product">
          <div class="cart__product-detail">
            <div class="cart__product-image">
              <img src="/img/plantas/Aglaonema.png" alt="Imagen Del Producto" />
            </div>
          </div>
          <div class="cart__product-price">$999.99</div>
          <div class="cart__product-quantity">
            <input type="number" value="1" min="1" max="100" />
          </div>
          <div class="cart__product-total">$999.99</div>
        </div>
        -->

        <form id="cart-form" name="cart-form" class="cart__buttons">
          <button type="button" class="cart__btn btnStyle2">Volver</button>
          <button type="submit" class="cart__btn btnStyle2">Proceder</button>
        </form>
      </section>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>

    <!-- Script -->
    <script src="/js/shopCart.js"></script>
  </body>
</html>
