<!-- Sidebar -->
<div class="admin__sidebar">
    <a href="/users/" class="admin__links">
        <i class="fa-solid fa-users-gear"></i>
        <span class="admin__span">Usuarios</span>
    </a>
    <ul class="admin_sidebar__nav">
        <li class="admin__links_item no-list-style"><a href="/users/" class="admin-sidebar__link">Listar</a></li>
        <li class="admin__links_item no-list-style"><a href="/users/create" class="admin-sidebar__link">Agregar</a></li>
    </ul>
    <!-- <ul class="admin_sidebar__nav">
        <li class="no-list-style"><a href="#" class="admin-sidebar__link">Listar</a></li>
        <li class="no-list-style"><a href="#" class="admin-sidebar__link">Agregar</a></li>
        <li class="no-list-style"><a href="#" class="admin-sidebar__link">Editar</a></li>
    </ul> -->
    <a href="/products/" class="admin__links">
        <i class="fa-solid fa-box-archive"></i>
        <span class="admin__span">Productos</span>
    </a>
    <ul class="admin_sidebar__nav">
        <li class="admin__links_item no-list-style"><a href="/products/" class="admin-sidebar__link">Listar</a></li>
        <li class="admin__links_item no-list-style"><a href="/products/create" class="admin-sidebar__link">Agregar</a></li>
    </ul>

    <a href="#" class="admin__links">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="admin__span">Estadisticas</span>
    </a>
</div>