<nav class="user-menu__nav">
    <ul>
        <li class="no-list-style">
            <a class="user-menu__links" href="/users/menu/contact/">Actualizá tus datos de contacto</a>
        </li> <!-- dir y telefono  -->
    </ul>
    <ul>
        <li class="no-list-style">
            <a class="user-menu__links" href="/users/menu/avatar/">Subí tu foto!</a>
        </li> <!-- cambiar foto -->
    </ul>
    <ul>
        <li class="no-list-style">
            <a class="user-menu__links" href="/users/menu/name/">Corregí tus datos</a>
        </li>
        <!-- cambiar nombre, apellido y nacimiento -->
    </ul>
    <ul>
        <li class="no-list-style">
            <a class="user-menu__links" href="/users/menu/">Actualizá tu Mail</a>
        </li>
        <!-- actualizar mail -->
    </ul>
    <ul>
        <li class="no-list-style">
            <a class="user-menu__links" href="/users/menu/password/">Actualizá tu password</a>
        </li>
        <!-- cambiar pass -->
    </ul>

</nav>