<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Registrate</title>
    </head>
<body>
    <%- include('../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main>
        <!-- Aqui va el texto principal de la pagina -->
        <h1 class="login-text">Crear Cuenta</h1>
        <!-- Seccion de pregunta de sign up -->
        <div class="have-account">
            <h4>¿Ya tenés cuenta?</h4>
            <a href="/users/login" class="mk-account-link">Iniciá sesión</a>
        </div>
        <!-- Iniciamos el formulario de sign up -->
        <form action="home" method="post" class="form-login">
            <!-- Ingresar el nombre -->
            <div class="inside-form-login">
                <label for="email">Nombre</label>
                <input class="login-control" type="text" placeholder="Ingresá tu nombre" minlength="3" maxlength="20" required>
            </div>
            <!-- Ingresar el apellido -->
            <div class="inside-form-login">
                <label for="email">Apellido</label>
                <input class="login-control" type="text" placeholder="Ingresá tu apellido" minlength="3" maxlength="20" required>
            </div>
            <!-- Ingresar el correo electrónico -->
            <div class="inside-form-login">
                <label for="email"> Correo electrónico</label>
                <input class="login-control" type="email" placeholder="Ingresá correo" required>
            </div>
            <!-- Ingresar la contraseña -->
            <div class="inside-form-login">
                <label for="password">Contraseña</label>
                <input class="login-control" type="password" placeholder="Ingresá contraseña" required>
            </div>
            <!-- Boton de iniciar sesion -->
            <input type="submit" value="Creá tu cuenta" class="boton-login">
        </form>

    </main>




    <!-- aca arranca el footer -->
    <%- include('../partials/footer') %>
</body>
</html>