<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>recuperá tu password</title>
    </head>
<body>
    <%- include('../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main>
        <section class="flex-column media-flex-row">
            <div class="auto-flex">
                <div class="userRecovery__title">
                    <!-- Aqui va el texto principal de la pagina -->
                    <h1 class="users__title">Recuperá tu contraseña</h1>
                    <!-- Seccion de pregunta de sign up -->
                    <div class="users__subtitle">
                        <a href="/users/login" class="users__link">Volver al login</a>
                    </div>
                </div>
            </div>
            <div class="auto-flex">
                <!-- Iniciamos el formulario de login -->
                <form action="home" method="post" class="users-form">
                    <!-- Ingresar el correo electrónico -->
                    <div class="users-form__field">
                        <label class="users-form__label" for="email"> Correo electrónico</label>
                        <input class="users-form__input" type="email" placeholder="Ingresá tu correo" required>
                    </div>
                    <!-- Boton de iniciar sesion -->
                    <input type="submit" value="Recuperar password" class="btnStyle2">
                </form>
                <!-- usé un div aqui en el link para espaciarlo con el footer -->
                <div class="users__forgotten">
                    <!-- link de "olvidaste tu contraseña" -->
                    <a href="/users/register" class="users__forgotten-link">Creá una cuenta</a>
                </div>
            </div>
        
        </section>
    </main>

    <!-- aca arranca el footer -->
    <%- include('../partials/footer') %>
</body>
</html>