<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>recuperá tu password</title>
    </head>
<body>
    <%- include('../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main>
        <section class="flex-column media-flex-row">
            <div class="auto-flex">
                <div class="Pass-recovery">
                    <!-- Aqui va el texto principal de la pagina -->
                    <h1 class="login-text">Recuperá tu contraseña</h1>
                    <!-- Seccion de pregunta de sign up -->
                    <div class="have-account">
                        <a href="/users/login" class="mk-account-link">Volver al login</a>
                    </div>
                </div>
            </div>
            <div class="auto-flex">
                <!-- Iniciamos el formulario de login -->
                <form action="home" method="post" class="form-login">
                    <!-- Ingresar el correo electrónico -->
                    <div class="inside-form-login">
                        <label for="email"> Correo electrónico</label>
                        <input class="login-control" type="email" placeholder="Ingresá tu correo" required>
                    </div>
                    <!-- Boton de iniciar sesion -->
                    <input type="submit" value="Recuperar password" class="boton-login">
                </form>
                <!-- usé un div aqui en el link para espaciarlo con el footer -->
                <div class="password-forgotten">
                    <!-- link de "olvidaste tu contraseña" -->
                    <a href="/users/register" class="password-forgotten-link">Creá una cuenta</a>
                </div>
            </div>
        
        </section>
    </main>

    <!-- aca arranca el footer -->
    <%- include('../partials/footer') %>
</body>
</html>