<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantaSusi</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> <!-- incluimos css -->
    <script src="https://kit.fontawesome.com/38e8c58940.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <!--
            main nav dentro del header
        -->
        <nav class="main-nav">
            <!-- burguer menu para mobile -->
            <div class="burger-menu">
                <label for="nav-troggler"><i class="icon" id="burger"></i></label>
                <input type="checkbox" id="nav-troggler" class="nav-toggler">
                <div class="burger-menu__shadow">
                    <nav class="burger-menu__links">
                        <ul>
                            <li><a class="nav-item no-list-style" href='home'>Tienda</a></li>
                            <li><a class="nav-item no-list-style" href='home'>Ofertas</a></li>
                            <li><a class="nav-item no-list-style" href='productDetail'>Cuidados</a></li>
                            <li><a class="nav-item no-list-style" href='home'>Sobre Nosotros</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- menu de navegacion, solo desktop -->
            <nav class="section-menu">
                <ul class="section-menu__list">
                    <li><a class="nav-item no-list-style" href='home'>Tienda</a></li>
                    <li><a class="nav-item no-list-style" href='home'>Ofertas</a></li>
                    <li><a class="nav-item no-list-style" href='productDetail'>Cuidados</a></li>
                    <li><a class="nav-item no-list-style" href='home'>Sobre Nosotros</a></li>
                </ul>
            </nav>
            <!-- Logo, tiene que ser el link a home-->
            <div class="logo">
                <a href="home"><img id='logo-principal' src="img/Logo-2.svg" alt="logo del E-commmerce"></a>
            </div>
            <!-- iconos de navegacion -->
            <ul class="icon-menu">
                <li><a href='shop'><i class="icon" id="search"></i></a></li>
                <li><a href='login'><i class="icon" id="user"></i></a></li>
                <li><a href='CartCart'><i class="icon" id="cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <!-- Aca va el cuerpo la pagina -->
    <main>

        <section class="flex-column">

            <div class="prod-detail">
                <figure class="prod-detail__slide">
                    <img src="img/plantas/Gomero1.jpg" alt="gomero">
                    <a href="#" class="prod-detail__prev">&#10094;</a>
                    <a href="#" class="prod-detail__next">&#10095;</a>
                </figure>
                <h2>Gomero Variegata</h2>
                <div class="flex-row">
                    <p class="prod-detail__price">$ 4800 <span>$ 4500</span></p>
                    <button class="prod-detail__button">Comprar</button>
                </div>
            </div>

            <div class="prod-desc">
                <p> <span>Descripción:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at libero augue. Nam in consectetur massa. Aenean ut purus sit amet felis pharetra </p>
                <p> <span>Nivel de cuidados:</span> Requiere un poco de atencion</p>
                <p> <span>ideal para:</span> interior</p>
            </div>
            <div class="flex-row">
                <div class="counter">
                    <span class="counter__minus">-</span>
                    <input class="counter__input" type="text" value="1"/>
                    <span class="counter__plus">+</span>
                </div>
                <!-- <div>
                    <input class="counter__input" type="number" value="1" min="1" max="10">
                </div> -->
                <button class="prod-detail__button--carrito">Agrega al carrito</button>
            </div>
        </section>

                <!-- seccion mas vendidos -->
                <h2 class="center-text">Mas vendidos</h2>
                <section class="flex-row mas-vendidos">
                    
                    <article class="plant-Card">
                        <a href="productDetail">
                            <div class="img plant-Card__img">
                                <img src="img\plantas\Aglaonema.png" alt="portada de seleccion otoño">
                                <div class="plant-Card__background"></div>
                            </div>
                            <h4>Aglaonema africana</h4>
                            <p class="subtitle">$2500</p>
                        </a>
                        <!-- <button class="Button-Agregar-Carrito">Agregar al Carrito</button> -->
                    </article>
        
                    <article class="plant-Card">
                        <a href="productDetail">
                            <div class="img plant-Card__img">
                                <img src="img\plantas\potus1.png" alt="portada de seleccion otoño">
                                <div class="plant-Card__background"></div>
                            </div>
                            <h4>Potus verde</h4>
                            <p>$2300</p>
                        </a>
                        <!-- <button class="Button-Agregar-Carrito">Agregar al Carrito</button> -->
                    </article>
        
                    <article class="plant-Card plant-Card--desktop">
                        <div class="img plant-Card__img">
                            <img src="img\plantas\potus1.png" alt="portada de seleccion otoño">
                            <div class="plant-Card__background"></div>
                        </div>
                        <h4>Potus verde</h4>
                        <p>$2300</p>
                        <!-- <button class="Button-Agregar-Carrito">Agregar al Carrito</button> -->
                    </article>
        
                    <article class="plant-Card plant-Card--desktop">
                        <div class="img plant-Card__img">
                            <img src="img\plantas\potus1.png" alt="portada de seleccion otoño">
                            <div class="plant-Card__background"></div>
                        </div>
                        <h4>Potus verde</h4>
                        <p>$2300</p>
                        <!-- <button class="Button-Agregar-Carrito">Agregar al Carrito</button> -->
                    </article>
        
                </section>
    </main>




    <!-- aca arranca el footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-main">
                <nav class="footer-nav">
                    <h3 class="footer-title">Info</h3>
                    <ul>
                        <li class="no-list-style"><a class="footer-link" href='shop'>Tienda</a></li>
                        <li class="no-list-style"><a class="footer-link" href='shop'>Ofertas</a></li>
                        <li class="no-list-style"><a class="footer-link" href='care'>Cuidados</a></li>
                        <li class="no-list-style"><a class="footer-link" href='about'>Sobre Nosotros</a></li>
                    </ul>
                </nav>
                <nav class="footer-col">
                    <div class="footer-contacto">
                        <h3 class="footer-title">Contacto</h3>
                        <ul>
                            <li class="no-list-style"><i class="icon" id="whatsapp"></i>+54 15 5884 1543</li>
                            <li class="no-list-style">plantasusi@susi.com.ar</li>
                            <li class="no-list-style">Calle falsa 123</li>
                        </ul>
                    </div>
                    <div class="footer-seguinos">
                        <h3 class="footer-title">Seguinos</h3>
                        <div class="social-icons">
                            <a href="http://pinterest.com"><i class="icon-social" id="pinterest"></i></a>
                            <a href="http://facebook.com"></a><i class="icon-social" id="facebook"></i></a>
                            <a href="http://instagram.com"></a><i class="icon-social" id="instagram"></i></a>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- info legal -->
            <div>
                <ul class="legal-info">
                    <li class="no-list-style">© 2021 Plantasusi SA</li>
                    <li class="no-list-style">Términos de uso</li>
                    <li class="no-list-style">Póliticas de privacidad</li>
                </ul>
            </div>
        </div>
   </footer>
</body>
</html>