<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
<body>
    <%- include('./partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main class="main-shopCart">
        <div class="title-cart">
            <div>Comprar</div>
            <p>$999.99</p>
        </div>
        <div class="article-cart">
            <div class="img-cart">
                <img src="img/plantas/potus1.png" alt="Potus">
            </div>
            <div class="article-cart-description">
                <div class="item-name-cart">Potus</div>
                <div class="price-cart">
                    <div>$800</div>
                    <div>
                        <input class="input-cart-qnty" type="number" value="1" min="1" max="10">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-cart">
            <div class="img-cart">
                <img src="img/plantas/Aglaonema.png" alt="Aglaonema">
            </div>
            <div class="article-cart-description">
                <div class="item-name-cart">Aglaonema</div>
                <div class="price-cart">
                    <div>$800</div>
                    <div>
                        <input class="input-cart-qnty" type="number" value="1" min="1" max="10">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-cart">
            <div class="img-cart">
                <img src="img/plantas/portulacaria afra.png" alt="Portulacaria Afra">
            </div>
            <div class="article-cart-description">
                <div class="item-name-cart">Portulacaria</div>
                <div class="price-cart">
                    <div>$800</div>
                    <div>
                        <input class="input-cart-qnty" type="number" value="1" min="1" max="10">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-shop-cart">
            <input type="submit" name="back-to-shop" value="Volver a la tienda" class="boton-login" />
            <input type="submit" name="payment" value="Proceder al pago" class="boton-login" />
        </div>
    </main>




    <!-- aca arranca el footer -->
    <%- include('./partials/footer') %>
</body>
</html>