<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>recuperá tu password</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main>
      <section class="flex-column media-flex-row">
        <div class="auto-flex">
          <div class="userRecovery__title">
            <h1 class="users__title">Recuperar Contraseña</h1>
            <div class="users__subtitle">
              <a href="/users/login" class="users__link">Volver Al Login</a>
            </div>
          </div>
        </div>
        <div class="auto-flex">
          <!-- Form -->
          <form action="home" method="post" class="users-form">
            <!-- Email -->
            <div class="users-form__field">
              <label class="users-form__label" for="email">
                Correo Electrónico</label
              >
              <input
                class="users-form__input"
                type="email"
                placeholder="Ingresá tu correo"
                required
              />
            </div>
            <!-- Confirmation Button -->
            <div class="user-menu__confirmation-button">
              <input
                type="submit"
                value="Recuperar Contraseña"
                class="cart__button"
              />
            </div>
          </form>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
